<div class="contentment" ng-class="vm.uniqueId" ng-controller="Umbraco.Community.Contentment.DataEditors.DropdownList.Controller as vm">
    <select id="{{model.alias}}"
            class="umb-dropdown"
            lk-html-attributes="vm.htmlAttributes"
            ng-model="model.value"
            ng-change="vm.change()"
            ng-options="item.value as item.name disable when item.disabled for item in vm.items">
        <option ng-if="vm.showEmpty" value=""></option>
    </select>
</div>
