<div ng-controller="uSyncHistoryController as vm">

    <umb-box>
        <umb-box-header title="Sync History"
                        description="History of everything that has been imported via uSync">
            <umb-button ng-if="vm.histories.length > 0"
                        type="button"
                        button-style="action"
                        action="vm.clearHistory()"
                        label="Clear history"></umb-button>
        </umb-box-header>
    </umb-box>

    <umb-box ng-if="vm.histories.length > 0">
        <umb-box-content>
            <div class="umb-table">
                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell"></div>
                        <div class="umb-table-cell">Action</div>
                        <div class="umb-table-cell">Server</div>
                        <div class="umb-table-cell">Username</div>
                        <div class="umb-table-cell">When</div>
                        <div class="umb-table-cell">Changes</div>
                        <div class="umb-table-cell"></div>
                    </div>
                </div>

                <div class="umb-table-body">
                    <div class="umb-table-row"
                         ng-repeat="history in vm.histories">

                        <div class="umb-table-cell"><i class="icon icon-arrow-up"></i></div>
                        <div class="umb-table-cell">{{history.Action}}</div>
                        <div class="umb-table-cell">{{history.Server}}</div>
                        <div class="umb-table-cell">{{history.Username}}</div>
                        <div class="umb-table-cell">{{history.When | date:'medium'}}</div>
                        <div class="umb-table-cell">{{history.Changes.length}}</div>
                        <div class="umb-table-cell">
                            <umb-button action="vm.viewDetails(history)"
                                        button-style="link"
                                        type="button"
                                        label-key="usync_details"></umb-button>

                        </div>
                    </div>
                </div>

            </div>



        </umb-box-content>
    </umb-box>


    <umb-empty-state ng-if="vm.histories.length == 0"
                     position="center">
        <h5>History is written by the winners</h5>
        <p>
            There is currently no sync history on this installation.
        </p>
    </umb-empty-state>

    

</div>