<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca181fe7-a898-4836-a179-c55f5470be20" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="fd00432f-2009-4147-bbc1-30a3c6203777">contentBase</Composition>
      <Composition Key="53b95603-a981-4caf-a51e-d65397f9bf24">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="edde72bb-4d2f-429a-9008-654a826e16d1">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="85058443-8c18-42be-b8d8-684a7e60db2e" SortOrder="0">blogpost</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8fca7db5-faa0-46c4-9a35-4fa0ad186dbf</Key>
      <Name>Disqus Shortname</Name>
      <Alias>disqusShortname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To use comments, you'll need to sign up for Disqus and enter your shortname here (more info: https://help.disqus.com/customer/portal/articles/472097-universal-embed-code)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d6b70fa2-0308-4347-956b-fa7b8b658861</Key>
      <Name>How many posts should be shown?</Name>
      <Alias>howManyPostsShouldBeShown</Alias>
      <Definition>9d5ba2c5-ed7a-41f8-b454-9fc65f48752e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>