<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a3bd7cc-468b-4293-a622-0075ae1a58e6" Alias="childOfTest" Level="2">
  <Info>
    <Name>Child of Test</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="b09cd86e-21f2-47f3-9ab1-bffca6231b9b">test</Parent>
    <Compositions>
      <Composition Key="b09cd86e-21f2-47f3-9ab1-bffca6231b9b">test</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>