<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97261246-0e74-4338-8e56-32e1e2388169" Alias="contentmentElements" Level="1">
  <Info>
    <Name>Contentment Elements</Name>
    <Icon>icon-smiley color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>NewTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d2119a52-f9ab-49b6-b7c8-1dda409546d2">NewTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="97261246-0e74-4338-8e56-32e1e2388169" SortOrder="0">contentmentElements</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>59bea7c2-20f2-4acc-9a7e-4735ceb3f88b</Key>
      <Name>Content Dropdown</Name>
      <Alias>contentDropdown</Alias>
      <Definition>74638531-50ac-427b-8525-32c7922180b9</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f3f8c38-c0df-4f01-9c7f-9fd7d7fa68de</Key>
      <Name>Contentment Bytes</Name>
      <Alias>contentmentBytes</Alias>
      <Definition>8b3e3158-d37a-4d75-9495-3504726f28cd</Definition>
      <Type>Umbraco.Community.Contentment.Bytes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36e2dc87-b07b-4fe3-aa76-df7ab12e90f3</Key>
      <Name>Contentment Content Blocks</Name>
      <Alias>contentmentContentBlocks</Alias>
      <Definition>4a565e16-ac7a-4234-ae8a-8bba1be8fa93</Definition>
      <Type>Umbraco.Community.Contentment.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocks">Blocks</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfb33f89-b48b-455c-857c-f1381253b19c</Key>
      <Name>Contentment Data List</Name>
      <Alias>contentmentDataList</Alias>
      <Definition>9887a118-4b24-45ca-9ed2-5dce9f91d126</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="lists">Lists</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab72ad70-1ecc-4433-a081-ada0ccb930e3</Key>
      <Name>Contentment Icon Picker</Name>
      <Alias>contentmentIconPicker</Alias>
      <Definition>866e8b8e-cfdb-4191-b666-c9bc8e675ffe</Definition>
      <Type>Umbraco.Community.Contentment.IconPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pickers">Pickers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab6d3946-e163-479b-9617-0c80c63a59de</Key>
      <Name>Contentment Notes</Name>
      <Alias>contentmentNotes</Alias>
      <Definition>e6c75991-ed51-449c-9dcc-cb832767141e</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb0cce87-5dbb-4761-86f1-140d264c5568</Key>
      <Name>Contentment Number Input</Name>
      <Alias>contentmentNumberInput</Alias>
      <Definition>1062bd6a-f861-48e9-83b5-1ab1c06b3bda</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="common">Common</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6cd22483-c832-44bb-a4de-8707aa1e7a00</Key>
      <Name>Contentment Render Macro</Name>
      <Alias>contentmentRenderMacro</Alias>
      <Definition>1f53de36-6e4d-426e-a603-abadda6697ae</Definition>
      <Type>Umbraco.Community.Contentment.RenderMacro</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0021b05c-009c-4629-8195-1cfd8bab281a</Key>
      <Name>Contentment Templated Label</Name>
      <Alias>contentmentTemplatedLabel</Alias>
      <Definition>0cf1f68a-cc68-4179-b712-6f6efd54bc58</Definition>
      <Type>Umbraco.Community.Contentment.TemplatedLabel</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="display">Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b64fc78f-9a8c-48e3-ac31-016530b55726</Key>
      <Name>Contentment Text Input</Name>
      <Alias>contentmentTextInput</Alias>
      <Definition>46dcf8df-dbfa-4554-8576-9f1928a2fd91</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="common">Common</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Display</Caption>
      <Alias>display</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Lists</Caption>
      <Alias>lists</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Blocks</Caption>
      <Alias>blocks</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Pickers</Caption>
      <Alias>pickers</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Common</Caption>
      <Alias>common</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>