<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="797e2039-149b-41cd-8ce8-4cc339b015c2" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4ff4a1fc-24db-489a-bdd2-532081dbc62f">contentBase</Composition>
      <Composition Key="e24e6d11-8005-47d9-9078-219a2182f34f">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="797e2039-149b-41cd-8ce8-4cc339b015c2" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>