<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="10b984f5-68fe-4f19-908a-dbe06ffb7b51" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="fd00432f-2009-4147-bbc1-30a3c6203777">contentBase</Composition>
      <Composition Key="53b95603-a981-4caf-a51e-d65397f9bf24">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cedf67d7-1f23-4185-af5f-d8b8d829cb3a">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="10b984f5-68fe-4f19-908a-dbe06ffb7b51" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>