<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab782305-2dbe-4bda-95ca-80a5d895ea7b" Alias="gridElementsTestContent" Level="1">
  <Info>
    <Name>Grid Elements Test Content</Name>
    <Icon>icon-layout color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>afca1245-c71a-4fe2-85f9-fcf78605dea8</Key>
      <Name>grid</Name>
      <Alias>grid</Alias>
      <Definition>44aadb38-5639-4f61-9363-d3752ffed41d</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="grid">Grid</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2a5c5d88-4abf-41a4-85eb-aa6a0cf33eb4</Key>
      <Caption>Grid</Caption>
      <Alias>grid</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>