<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e24e6d11-8005-47d9-9078-219a2182f34f" Alias="navigationBase" Level="2">
  <Info>
    <Name>Navigation Base</Name>
    <Icon>icon-nodes color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9205b574-acdb-4b5e-b99b-ab0a7c91dffe</Key>
      <Name>Keywords</Name>
      <Alias>keywords</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keywords that describe the content of the page. This is considered optional since most modern search engines don't use this anymore]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigationSEO">Navigation &amp; SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1a2085f-3774-4e04-ae1c-54c7164720bd</Key>
      <Name>Description</Name>
      <Alias>seoMetaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief description of the content on your page. This text is shown below the title in a google search result and also used for Social Sharing Cards. The ideal length is between 130 and 155 characters]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigationSEO">Navigation &amp; SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a06eccd-bead-47d1-995d-cec9fd04bfca</Key>
      <Name>Hide in Navigation</Name>
      <Alias>umbracoNavihide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you don't want this page to appear in the navigation, check this box]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigationSEO">Navigation &amp; SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>601e567e-c6d7-41a5-81cc-4948c97ddc9c</Key>
      <Caption>Navigation &amp; SEO</Caption>
      <Alias>navigationSEO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>