<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f00af6d-119b-43f0-9e63-f7461b464b9f" Alias="newDocType" Level="1">
  <Info>
    <Name>New DocType</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A New doctype just for testing changes</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SimpleDocType</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c4732018-7ee8-4e7f-9ee3-655774431554">SimpleDocType</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5f00af6d-119b-43f0-9e63-f7461b464b9e" SortOrder="0">simpleDocType</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b5b0e368-4360-456d-8d7f-da79c327884e</Key>
      <Name>A Third property</Name>
      <Alias>aThirdProperty</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aThirdTab">A Third tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03a86cf9-5a6e-4409-822b-4718bfcc4c71</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="someTab/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa3824af-c8cb-47b2-b4dc-26797be91313</Key>
      <Name>Something In a Tab</Name>
      <Alias>somethingInATab</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="secondTab">Second Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Second Tab</Caption>
      <Alias>secondTab</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Some Tab</Caption>
      <Alias>someTab</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>A Third tab</Caption>
      <Alias>aThirdTab</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <Alias>someTab/content</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>