<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6260e963-a534-4c5c-a733-d83c8f96d1f5" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4ff4a1fc-24db-489a-bdd2-532081dbc62f">contentBase</Composition>
      <Composition Key="e24e6d11-8005-47d9-9078-219a2182f34f">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a3bedda0-830e-436f-82c0-12e4c05ce33a">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="15aaadfc-0664-44d4-af87-829257762b3e" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>80dddc1f-0148-474e-a978-757dd37c33da</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>731bc900-0570-4776-8b7d-a11c1c21b61d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>