<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f00af6d-119b-43f0-9e63-f7461b464b9e" Alias="simpleDocType" Level="1">
  <Info>
    <Name>Simple DocType</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Some description of update</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SimpleDocType</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c4732018-7ee8-4e7f-9ee3-655774431554">SimpleDocType</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>