<div>
    <umb-box>
        <div class="umb-box-header flex justify-between items-center">
            <div>
                <div class="umb-box-header-title">{{vm.action}}</div>
                <div class="umb-box-header-description">{{vm.totals.changes}} changes across {{vm.totals.total}} items</div>
            </div>

            <!--<umb-toggle checked="vm.showAll"
                        on-click="vm.showAll = !vm.showAll"
                        show-labels="true"
                        label-on="Show all"
                        label-off="Changes only"
                        label-position="left"
                        ng-if="!vm.hideToggle"></umb-toggle>-->
        </div>
        <div class="usync-summaries" ng-show="vm.totals.changes > 0">
            <div ng-repeat="(key , value) in vm.groups" 
                 ng-click="vm.groupInfo[key].visible = !vm.groupInfo[key].visible"
                 ng-class="{'active' : vm.groupInfo[key].visible}"
                 ng-if="vm.groupInfo[key].counts.changes > 0"
                 class="usync-summary-group">
                <div class="usync-summary">
                    <div class="usync-summary-icon">
                        <i class="icon-check color-green" ng-if="vm.groupInfo[key].counts.errors == 0"></i>
                        <i class="icon-flag color-red" ng-if="vm.groupInfo[key].counts.errors > 0"></i>
                    </div>
                    <div class="usync-summary-type">{{vm.groupInfo[key].name}}</div>
                    <div class="usync-summary-number">
                        <div>{{vm.groupInfo[key].counts.total}}</div><div> items</div>
                    </div>
                    <div class="usync-summary-number">
                        <div>{{vm.groupInfo[key].counts.changes}}</div><div> changes</div>
                    </div>
                    <div class="usync-summary-number">
                        <div>{{vm.groupInfo[key].counts.errors}}</div><div> errors</div>
                    </div>
                    <div class="usync-summary-expand" ng-class="{'active' : vm.groupInfo[key].visible}">
                        <i class="icon icon-chevron-down"></i>
                    </div>
                </div>
                    <div class="umb-table usync-table-detail" ng-if="vm.groupInfo[key].visible">
                        <div class="umb-table-body">
                            <div ng-repeat="result in value">
                                <div class="umb-table-row {{vm.getChangeClass(result)}}"
                                     ng-if="vm.showChange(result.change)"
                                     ng-click="vm.select(result, $event)">
                                    <div class="umb-table-cell">
                                        <i class="icon {{result._icon}}"></i>
                                    </div>
                                    <div class="umb-table-cell">
                                        {{result._typename}}
                                    </div>
                                    <div class="umb-table-cell umb-table__name">
                                        <div>
                                            {{result.name}}
                                            <div class="muted" ng-if="result.path.length > 0"> > {{result.itemType.substring(1)}}{{result.path}}</div>
                                        </div>
                                    </div>
                                    <div class="umb-table-cell">
                                        {{result.change}}
                                    </div>
                                    <div class="umb-table-cell usync-table-message-cell">
                                        <span ng-bind-html="result.message" title="{{result.message}}"></span>
                                    </div>
                                    <div class="umb-table-cell usync-detail-link-cell" ng-if="vm.hideLink == false">
                                        <umb-button type="button"
                                                    button-style="link"
                                                    label-key="usync_details"
                                                    action="vm.openDetail(result)"
                                                    ng-if="result.details != null"></umb-button>
                                        <div ng-if="result.details != null" class="usync-detail-count">
                                            ({{result.details.length}} items)
                                        </div>
                                    </div>                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
        <div class="flex justify-center items-center padded" ng-if="vm.totals.changes == 0">
            <div class="usync-report-no-changes">
                <localize key="usync_nochange"></localize>
                <small><localize key="usync_nochange_quote"></localize></small>
            </div>
        </div>
    </umb-box>
</div>