<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83eaa60e-23c3-4374-bee1-842a17c5b3b3" Alias="Base SEO - Meta Keywords - Repeatable textstrings" Level="1">
  <Info>
    <Name>Base SEO - Meta Keywords - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>