<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d0726e6-5fa7-4455-8fe6-ed5bf9057cc4" Alias="Blogpost - Categories - Tags" Level="1">
  <Info>
    <Name>Blogpost - Categories - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>