<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95454c01-4d95-4baa-9667-232c1e041826" Alias="Colour Picker" Level="1">
  <Info>
    <Name>Colour Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": true,
  "ShowPalette": true
}]]></Config>
</DataType>