<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1062bd6a-f861-48e9-83b5-1ab1c06b3bda" Alias="Contentment Number Input" Level="2">
  <Info>
    <Name>Contentment Number Input</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>