<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74638531-50ac-427b-8525-32c7922180b9" Alias="Contentment Data List - Content Dropdown" Level="2">
  <Info>
    <Name>Contentment Data List - Content Dropdown</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>