<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46dcf8df-dbfa-4554-8576-9f1928a2fd91" Alias="Contentment Text input" Level="2">
  <Info>
    <Name>Contentment Text input</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CountriesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>