<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc1475d2-7c7b-4b2f-bc53-54c86fd43d6c" Alias="Contact - Map Coordinates - Open street maps" Level="1">
  <Info>
    <Name>Contact - Map Coordinates - Open street maps</Name>
    <EditorAlias>Bergmania.OpenStreetMap</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultPosition": {
    "zoom": 12,
    "marker": {
      "latitude": 55.4062262211674,
      "longitude": 10.388377904892
    },
    "boundingBox": {
      "northEastCorner": {
        "latitude": 55.4331042620063,
        "longitude": 10.4534912109375
      },
      "southWestCorner": {
        "latitude": 55.3648687459637,
        "longitude": 10.3075790405273
      }
    }
  },
  "TileLayer": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  "TileLayerAttribution": "Map data © OpenStreetMap contributors"
}]]></Config>
</DataType>