<?xml version="1.0" encoding="utf-8"?>
<DataType Key="866e8b8e-cfdb-4191-b666-c9bc8e675ffe" Alias="Contentment Icon Picker" Level="2">
  <Info>
    <Name>Contentment Icon Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>