<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cf1f68a-cc68-4179-b712-6f6efd54bc58" Alias="Contentment Templated Label" Level="2">
  <Info>
    <Name>Contentment Templated Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>