<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74638531-50ac-427b-8525-32c7922180b9" Alias="Contentment Data List - Content Dropdown" Level="2">
  <Info>
    <Name>Contentment Data List - Content Dropdown</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "umb://document/8502a7b4f1484385931c92e6237dfdae"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>