<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f53de36-6e4d-426e-a603-abadda6697ae" Alias="Contentment Render Macro" Level="2">
  <Info>
    <Name>Contentment Render Macro</Name>
    <EditorAlias>Umbraco.Community.Contentment.RenderMacro</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "macro": [
    {
      "udi": "umb://macro/7532d0cc29d248d0ba66241d1f12f188",
      "name": "A Macro",
      "alias": "AMacro",
      "params": {}
    }
  ],
  "hideLabel": "0"
}]]></Config>
</DataType>