<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a565e16-ac7a-4234-ae8a-8bba1be8fa93" Alias="Contentment Content Blocks" Level="2">
  <Info>
    <Name>Contentment Content Blocks</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "a2ce497a-bc4b-4040-9928-5dc9b558cc49",
      "value": {
        "nameTemplate": "Nested Element {{ $index }}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    },
    {
      "key": "932b194a-3b2f-4553-ade9-e0453cd52546",
      "value": {
        "nameTemplate": "Simple Element Type {{ $index }}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>