<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a565e16-ac7a-4234-ae8a-8bba1be8fa93" Alias="Contentment Content Blocks" Level="2">
  <Info>
    <Name>Contentment Content Blocks</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>