<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b3e3158-d37a-4d75-9495-3504726f28cd" Alias="Contentment Bytes" Level="2">
  <Info>
    <Name>Contentment Bytes</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>