<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f53de36-6e4d-426e-a603-abadda6697ae" Alias="Contentment Render Macro" Level="2">
  <Info>
    <Name>Contentment Render Macro</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>