<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc5664ba-455d-42f4-924d-39b7397bff05" Alias="Contentment Code Editor" Level="2">
  <Info>
    <Name>Contentment Code Editor</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>