<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc5664ba-455d-42f4-924d-39b7397bff05" Alias="Contentment Code Editor" Level="2">
  <Info>
    <Name>Contentment Code Editor</Name>
    <EditorAlias>Umbraco.Community.Contentment.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "mode": "razor",
  "theme": "chrome",
  "fontSize": "small",
  "useWrapMode": "0",
  "minLines": 12,
  "maxLines": 30
}]]></Config>
</DataType>