<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6c75991-ed51-449c-9dcc-cb832767141e" Alias="Contentment Notes" Level="2">
  <Info>
    <Name>Contentment Notes</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>