<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc1475d2-7c7b-4b2f-bc53-54c86fd43d6c" Alias="Contact - Map Coordinates - Open street maps" Level="1">
  <Info>
    <Name>Contact - Map Coordinates - Open street maps</Name>
    <EditorAlias>Our.Umbraco.OsmMaps</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>