<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6c75991-ed51-449c-9dcc-cb832767141e" Alias="Contentment Notes" Level="2">
  <Info>
    <Name>Contentment Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Contentment+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "notes": "<p>A note in contentment (it can contain media!) <img src=\"/media/n2chzoiz/astronaught.jpg?rmode=max&amp;width=500\" alt=\"\" width=\"500\" height=\"340.3125\" data-udi=\"umb://media/b96c0569b0194761845d61a974e1a64f\" /></p>",
  "hideLabel": "0"
}]]></Config>
</DataType>