<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5778baa8-f184-42c8-b9e9-38802f702d5e" Alias="Grid Bits - Repeatable textstrings" Level="1">
  <Info>
    <Name>Grid Bits - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>