<?xml version="1.0" encoding="utf-8"?>
<DataType Key="519eaa41-b905-4371-aa7c-40c9b3946f66" Alias="Home - Logo - Media Picker" Level="1">
  <Info>
    <Name>Home - Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://document/b61e08cd366445759a7295848cb803ac",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>