<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30c35221-91b0-49a5-a599-42d1965161ea" Alias="Navigation Base - Keywords - Tags" Level="1">
  <Info>
    <Name>Navigation Base - Keywords - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>