<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e26a8d91-a9d7-475b-bc3b-2a09f4743754" Alias="Person - Photo - Media Picker" Level="1">
  <Info>
    <Name>Person - Photo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>