<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b58c1530-91c9-4c83-aa35-032aca0f7b89" Alias="Person - Department - Tags" Level="1">
  <Info>
    <Name>Person - Department - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 0,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>