<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e26a8d91-a9d7-475b-bc3b-2a09f4743754" Alias="Person - Photo - Media Picker" Level="1">
  <Info>
    <Name>Person - Photo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/1fd2ecaff3714c009306867fa4585e7a",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>