<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0382188-119b-49b7-86d3-84119a02645f" Alias="Products - Featured Products - Multinode Treepicker" Level="1">
  <Info>
    <Name>Products - Featured Products - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": null,
  "Filter": "product",
  "MinNumber": 0,
  "MaxNumber": 9,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>