<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28a6aeda-b3fc-4c4d-926e-607854a07891" Alias="Products - Default Currency - Dropdown list" Level="1">
  <Info>
    <Name>Products - Default Currency - Dropdown list</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "€"
    },
    {
      "id": 2,
      "value": "£"
    },
    {
      "id": 3,
      "value": "$"
    },
    {
      "id": 4,
      "value": "DKK"
    }
  ]
}]]></Config>
</DataType>