<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ada047c-6dfc-4a14-afc4-7efb79390f92" Alias="Product - Photos - Media Picker" Level="1">
  <Info>
    <Name>Product - Photos - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/6d5bf746cb8245c5bd15dd3798209b87",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>