<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84bbeb67-df7e-4043-8db8-55df52d01456" Alias="Product - Features - Nested Content" Level="1">
  <Info>
    <Name>Product - Features - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "feature",
      "ncTabAlias": "Feature",
      "nameTemplate": "{{featureName}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>