<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58837d73-840f-4764-ba9d-19aa52408894" Alias="Simple DocType - Nested Things - Nested Content" Level="1">
  <Info>
    <Name>Simple DocType - Nested Things - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "nestedElement",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "simpleElementType",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "gridBits",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "nestedNested",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>