<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- when we want to fetch from the yet to be released versions, fetch the umbraco stuff from the pre-release feeed -->
	<packageSources>
		<add key="UmbracoPrerelease" value="https://www.myget.org/F/umbracoprereleases/api/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="UmbracoPrerelease">
			<package pattern="Umbraco.*" />
		</packageSource>
	</packageSourceMapping>


</configuration>