<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66d38d47-5caf-4cf1-91b3-6afa07981b9d" Alias="Core - Decimal" Level="2">
  <Info>
    <Name>Core - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
    <Folder>Core+DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 5,
  "step": 5,
  "max": 100
}]]></Config>
</DataType>