<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acbd2b0f-285c-4909-b520-40e2b44dceeb" Alias="Core - Color Picker" Level="2">
  <Info>
    <Name>Core - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Core+DataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"Black\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ff0000\",\"label\":\"Red\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"00ff00\",\"label\":\"Green\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"0000ff\",\"label\":\"Blue\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>