<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d5ba2c5-ed7a-41f8-b454-9fc65f48752e" Alias="Blog - How many posts should be shown - Slider" Level="1">
  <Info>
    <Name>Blog - How many posts should be shown - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 0.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>