<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59accdfb-e0e7-4ff2-b8ab-4822b78d2c64" Alias="Contact - Pick a Contact Form - Form Picker" Level="1">
  <Info>
    <Name>Contact - Pick a Contact Form - Form Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>