<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea0ed4c1-c489-43b8-9058-a70babf430ff" Alias="Content Base - Content - Grid layout" Level="1">
  <Info>
    <Name>Content Base - Content - Grid layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [],
    "config": [],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Article",
        "name": "Article",
        "areas": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      },
      {
        "name": "Three Columns",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      },
      {
        "name": "FullWidth",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "code",
      "bold",
      "italic",
      "styleselect",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "image",
      "ace",
      "redo",
      "undo",
      "strikethrough",
      "table"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>