<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c648ef0e-f338-4df4-ba52-9f6ba2b2de33" Alias="DD-MM-YYYY Picker" Level="1">
  <Info>
    <Name>DD-MM-YYYY Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": " DD-MM-YYYY",
  "OffsetTime": false
}]]></Config>
</DataType>