<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fff3c360-3f90-45b3-a554-e29ca72cdce4" Alias="Home - Font - Radio button list" Level="1">
  <Info>
    <Name>Home - Font - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "standard"
    },
    {
      "id": 2,
      "value": "serif"
    },
    {
      "id": 3,
      "value": "mono"
    }
  ]
}]]></Config>
</DataType>