<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ece86aa-61ad-45d5-b1dd-8f02f25df949" Alias="Home - Call To Action Link - Content Picker" Level="1">
  <Info>
    <Name>Home - Call To Action Link - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/ca4249ed2b234337b52263cabe5587d1",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>