<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7cfbfea-bb6b-4c67-bca9-b13e1d633d5e" Alias="Nested Thing - Repeatable Textstring - Repeatable textstrings" Level="1">
  <Info>
    <Name>Nested Thing - Repeatable Textstring - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>