<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efa581ab-b804-4912-8fb6-da816f98dbc1" Alias="Nested Thing - Date and Time - DateTime" Level="1">
  <Info>
    <Name>Nested Thing - Date and Time - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>