<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0cd2792-1b2b-40c7-bf89-efeb50ae6d4c" Alias="Nested Page - Nested Content" Level="1">
  <Info>
    <Name>Nested Page - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "nestedThing",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>