<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4885450e-a60f-42bb-984a-43988baf5283" Alias="People - Featured People - Multinode Treepicker" Level="1">
  <Info>
    <Name>People - Featured People - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": null,
  "Filter": "person",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>