<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f6619b6-08a4-4be7-8d6a-2761844ee567" Alias="Product - Price - Decimal" Level="1">
  <Info>
    <Name>Product - Price - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>