<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59ac0a33-9d34-4236-9886-99310d13d7f1" Alias="Product - Category - Tags" Level="1">
  <Info>
    <Name>Product - Category - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 0,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>