<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee82cba3-a0e7-4063-9ae1-3026a4f72a3d" Alias="About this Starter Kit" Level="3">
  <Info>
    <Parent Key="3cce2545-e3ac-44ec-bf55-a52cc5965db3">About Us</Parent>
    <Path>/Home/AboutUs/AboutThisStarterKit</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2020-08-26T10:43:40</CreateDate>
    <NodeName Default="About this Starter Kit" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cedf67d7-1f23-4185-af5f-d8b8d829cb3a">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[About this Starter Kit]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>