<?xml version="1.0" encoding="utf-8"?>
<Content Key="103171c8-e11c-4002-9bb2-f3404cada22a" Alias="Banjo" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Banjo</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2020-08-26T10:43:40</CreateDate>
    <NodeName Default="Banjo" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d9a5ebbe-90e2-4b12-9763-4c42d5072fbd">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[bingo,music]]></Value>
    </category>
    <description>
      <Value><![CDATA[Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[umb://media/17552d12081d4d01b68132c495d6576f]]></Value>
    </photos>
    <price>
      <Value><![CDATA[399]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Banjo]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-BANJO]]></Value>
    </sku>
  </Properties>
</Content>