<?xml version="1.0" encoding="utf-8"?>
<Content Key="103171c8-e11c-4002-9bb2-f3404cada22a" Alias="Banjo" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Banjo</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Banjo" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[bingo,music]]></Value>
    </category>
    <description>
      <Value><![CDATA[Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "9ce32f8e-087a-47d8-9bd6-0101686f1a48",
    "mediaKey": "17552d12-081d-4d01-b681-32c495d6576f",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[399]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Banjo]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-BANJO]]></Value>
    </sku>
  </Properties>
</Content>