<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb7d5ae0-07ac-40b8-b5b9-18c36947fb56" Alias="Bowling Ball" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/BowlingBall</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Bowling Ball" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[sports,bingo]]></Value>
    </category>
    <description>
      <Value><![CDATA[Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "d2172e3b-e5c1-4387-81b1-1516f867481c",
    "mediaKey": "b76ddb4e-e603-4014-9906-6087984740ec",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[899]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Bowling Ball]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-BOWLING]]></Value>
    </sku>
  </Properties>
</Content>