<?xml version="1.0" encoding="utf-8"?>
<Content Key="37acb4c2-beb9-494d-ade4-133a0a27f147" Alias="Busra Şengül" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/BusraSenguel</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Busra Şengül" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[United Kingdom,mvp]]></Value>
    </department>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[[
  {
    "key": "732169bc-31b4-4c93-9c83-1656164cfcf2",
    "mediaKey": "4bbbef61-dede-4e4f-87ef-52f660487ca4",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>