<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bdb8d63-4d38-40ec-8622-f03526f09644" Alias="Conmtent block" Level="2">
  <Info>
    <Parent Key="8502a7b4-f148-4385-931c-92e6237dfdae">Simple Homepage</Parent>
    <Path>/SimpleHomepage/ConmtentBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentElements</ContentType>
    <CreateDate>2021-10-25T15:03:17</CreateDate>
    <NodeName Default="Conmtent block" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="d2119a52-f9ab-49b6-b7c8-1dda409546d2">NewTemplate</Template>
  </Info>
  <Properties>
    <contentDropdown>
      <Value><![CDATA[]]></Value>
    </contentDropdown>
    <contentmentBytes>
      <Value><![CDATA[]]></Value>
    </contentmentBytes>
    <contentmentContentBlocks>
      <Value><![CDATA[]]></Value>
    </contentmentContentBlocks>
    <contentmentDataList>
      <Value><![CDATA[]]></Value>
    </contentmentDataList>
    <contentmentIconPicker>
      <Value><![CDATA[]]></Value>
    </contentmentIconPicker>
    <contentmentNotes>
      <Value><![CDATA[]]></Value>
    </contentmentNotes>
    <contentmentNumberInput>
      <Value><![CDATA[]]></Value>
    </contentmentNumberInput>
    <contentmentRenderMacro>
      <Value><![CDATA[]]></Value>
    </contentmentRenderMacro>
    <contentmentTemplatedLabel>
      <Value><![CDATA[]]></Value>
    </contentmentTemplatedLabel>
    <contentmentTextInput>
      <Value><![CDATA[]]></Value>
    </contentmentTextInput>
  </Properties>
</Content>