<?xml version="1.0" encoding="utf-8"?>
<Content Key="d733736c-c7ad-4f07-b931-baa50a55735d" Alias="Contentment Elements" Level="2">
  <Info>
    <Parent Key="8502a7b4-f148-4385-931c-92e6237dfdae">Simple Homepage</Parent>
    <Path>/SimpleHomepage/ContentmentElements</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentElements</ContentType>
    <CreateDate>2021-10-06T15:09:02</CreateDate>
    <NodeName Default="Contentment Elements" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentDropdown>
      <Value><![CDATA[umb://document/d733736cc7ad4f07b931baa50a55735d]]></Value>
    </contentDropdown>
    <contentmentBytes>
      <Value><![CDATA[]]></Value>
    </contentmentBytes>
    <contentmentContentBlocks>
      <Value><![CDATA[[
  {
    "elementType": "a2ce497a-bc4b-4040-9928-5dc9b558cc49",
    "key": "eea930dc-792b-418b-b696-293d55082686",
    "icon": "icon-document",
    "value": {
      "title": "Nested title",
      "contentBlocks": [
        {
          "elementType": "932b194a-3b2f-4553-ade9-e0453cd52546",
          "key": "a1acb610-7228-4438-8d68-158293268e8f",
          "icon": "icon-document",
          "value": {
            "title": "Simple nested nested title",
            "bodyContent": "<p>Some nested text goes here.<img src=\"?rmode=max&amp;width=500\" alt=\"\" width=\"500\" height=\"340.3125\" data-udi=\"umb://media/b96c0569b0194761845d61a974e1a64f\" /></p>"
          }
        }
      ]
    }
  },
  {
    "elementType": "932b194a-3b2f-4553-ade9-e0453cd52546",
    "key": "fc92eb90-c78f-41b3-9fb5-5a48906a3bbc",
    "icon": "icon-document",
    "value": {
      "title": "Simple type",
      "bodyContent": "<p>Simple type goes here. </p>"
    }
  }
]]]></Value>
    </contentmentContentBlocks>
    <contentmentDataList>
      <Value><![CDATA[ca]]></Value>
    </contentmentDataList>
    <contentmentIconPicker>
      <Value><![CDATA[icon-art-easel color-pink]]></Value>
    </contentmentIconPicker>
    <contentmentNotes>
      <Value><![CDATA[]]></Value>
    </contentmentNotes>
    <contentmentNumberInput>
      <Value><![CDATA[16]]></Value>
    </contentmentNumberInput>
    <contentmentRenderMacro>
      <Value><![CDATA[]]></Value>
    </contentmentRenderMacro>
    <contentmentTemplatedLabel>
      <Value><![CDATA[]]></Value>
    </contentmentTemplatedLabel>
    <contentmentTextInput>
      <Value><![CDATA[Some text here ]]></Value>
    </contentmentTextInput>
  </Properties>
</Content>