<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a1f4198-e143-48ba-a0f5-1a7ef2df23aa" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82a26154-ded8-4cf5-9038-d00e4fcd556c">contact</Template>
  </Info>
  <Properties>
    <contactFormHeader>
      <Value><![CDATA[Send Us A Message]]></Value>
    </contactFormHeader>
    <contactIntro>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget lacinia nisl. Aenean sollicitudin diam vitae enim ultrices, semper euismod magna efficitur.</p>]]></Value>
    </contactIntro>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <mapCoordinates>
      <Value><![CDATA[{
  "zoom": 12,
  "boundingBox": {
    "southWestCorner": {
      "latitude": 55.373648483374964,
      "longitude": 10.314445495605469
    },
    "northEastCorner": {
      "latitude": 55.44186885529371,
      "longitude": 10.460357666015625
    }
  },
  "marker": {
    "latitude": 55.4062262211674,
    "longitude": 10.388377904892
  }
}]]></Value>
    </mapCoordinates>
    <mapHeader>
      <Value><![CDATA[You'll find us here]]></Value>
    </mapHeader>
    <pageTitle>
      <Value><![CDATA[Let's have a chat]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>