<?xml version="1.0" encoding="utf-8"?>
<Content Key="711a9ea5-a368-4774-88c7-ce11f4f5ae1c" Alias="GridTest" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/GridTest</Path>
    <Trashed>false</Trashed>
    <ContentType>gridElementsTestContent</ContentType>
    <CreateDate>2022-01-06T11:51:42</CreateDate>
    <NodeName Default="GridTest" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "9ac33ab9-660f-412f-915a-4775d525b929",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "gridBits",
                    "value": {
                      "name": "Doc Type",
                      "title": "Grid Titles",
                      "repeatable": [
                        {
                          "value": "One"
                        },
                        {
                          "value": "Two"
                        },
                        {
                          "value": "Three"
                        }
                      ],
                      "nested": [
                        {
                          "key": "9b7f73f5-59a3-4308-8358-db7486bc73a9",
                          "name": "Nested Element",
                          "ncContentTypeAlias": "nestedElement",
                          "PropType": "",
                          "title": "Nested Element",
                          "contentBlocks": [
                            {
                              "elementType": "a2ce497a-bc4b-4040-9928-5dc9b558cc49",
                              "key": "641b19ae-5634-48b2-b29a-7e1056ad8c3f",
                              "icon": "icon-document",
                              "value": {
                                "title": "Nested Nested",
                                "contentBlocks": [
                                  {
                                    "elementType": "932b194a-3b2f-4553-ade9-e0453cd52546",
                                    "key": "5eddebea-b7b0-4fc5-9b2c-60cbf80d43db",
                                    "icon": "icon-document",
                                    "value": {
                                      "title": "Nested Block",
                                      "bodyContent": "<p>Nested Block</p>"
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "id": "90be8130-2334-dc63-2d20-0c9e7fbc8cef"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/DocTypeGridEditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
  </Properties>
</Content>