<?xml version="1.0" encoding="utf-8"?>
<Content Key="616d0f54-b8b0-450e-be0d-2ca4c06672a2" Alias="Jan Skovgaard" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/JanSkovgaard</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2020-08-26T10:43:40</CreateDate>
    <NodeName Default="Jan Skovgaard" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c44514ca-3582-4e88-981d-5d9bd487e837">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[mvp,Denmark]]></Value>
    </department>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[umb://media/cf1ab8dcad0f4a8e974b87b84777b0d6]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>