<?xml version="1.0" encoding="utf-8"?>
<Content Key="616d0f54-b8b0-450e-be0d-2ca4c06672a2" Alias="Jan Skovgaard" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/JanSkovgaard</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Jan Skovgaard" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[mvp,Denmark]]></Value>
    </department>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[[
  {
    "key": "4ce590f1-0360-4e4b-8ed1-c9ff3beda526",
    "mediaKey": "cf1ab8dc-ad0f-4a8e-974b-87b84777b0d6",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>