<?xml version="1.0" encoding="utf-8"?>
<Content Key="202cdc2f-1a45-40f4-a653-a7b321e1c54c" Alias="Jumpsuit" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Jumpsuit</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Jumpsuit" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[fashion,bingo]]></Value>
    </category>
    <description>
      <Value><![CDATA[Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "400ce53f-deae-4627-b83c-0e2a566c47bd",
    "mediaKey": "46a025d6-095a-4b14-8b96-1b59ca4e951c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[89]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Jumpsuit]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-JUMPSUIT]]></Value>
    </sku>
  </Properties>
</Content>