<?xml version="1.0" encoding="utf-8"?>
<Content Key="65aa169c-ae1a-4d66-9c49-3f9c26e43aae" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="a8e7573b-3b3c-47bb-9a59-437f72a39d36">Home (1)</Parent>
    <Path>/Home1/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2020-08-27T12:13:16</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5fd63a97-5ac2-48a4-a1b0-961f5355ce77">contact</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[adf160f1-39f5-44c0-b01d-9e2da32bf093]]></Value>
    </contactForm>
    <contactFormHeader>
      <Value><![CDATA[Schick uns eine Nachricht]]></Value>
    </contactFormHeader>
    <contactIntro>
      <Value><![CDATA[<p> Lorem ipsum dolor sitzen amet, consectetur adipiscing elit. Nullam eget lacinia nisl. Aenean sollicitudin diam vitae enim ultrices, sempre euismod magna efficitur. </p>]]></Value>
    </contactIntro>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <mapCoordinates>
      <Value><![CDATA[55.40622012982414,10.388404726982117,18]]></Value>
    </mapCoordinates>
    <mapHeader>
      <Value><![CDATA[Sie finden uns hier]]></Value>
    </mapHeader>
    <pageTitle>
      <Value><![CDATA[Lass uns plaudern]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>