<?xml version="1.0" encoding="utf-8"?>
<Content Key="6dde86b3-6f19-428d-b86e-3f2385cd661f" Alias="OtherHome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OtherHome</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleDocType</ContentType>
    <CreateDate>2021-07-15T13:51:11</CreateDate>
    <NodeName Default="OtherHome" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c4732018-7ee8-4e7f-9ee3-655774431554">SimpleDocType</Template>
  </Info>
  <Properties>
    <gridElement>
      <Value><![CDATA[]]></Value>
    </gridElement>
    <nestedThings>
      <Value><![CDATA[]]></Value>
    </nestedThings>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <sineGriyo>
      <Value><![CDATA[]]></Value>
    </sineGriyo>
    <somethingInATab>
      <Value><![CDATA[]]></Value>
    </somethingInATab>
  </Properties>
</Content>