<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62" Alias="People" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/People</Path>
    <Trashed>false</Trashed>
    <ContentType>people</ContentType>
    <CreateDate>2020-08-26T10:43:40</CreateDate>
    <NodeName Default="People" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8b1d3c86-ae72-4acb-8b7e-23b9095d27e4">people</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <featuredPeople>
      <Value><![CDATA[]]></Value>
    </featuredPeople>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Nice crazy people]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>