<?xml version="1.0" encoding="utf-8"?>
<Content Key="8502a7b4-f148-4385-931c-92e6237dfdae" Alias="Simple Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SimpleHomepage</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleDocType</ContentType>
    <CreateDate>2021-04-21T17:17:51</CreateDate>
    <NodeName Default="Simple Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8305d451-6cbb-4f4e-aa02-5f53dc38f9fe">SomethingNew</Template>
  </Info>
  <Properties>
    <nestedThings>
      <Value><![CDATA[]]></Value>
    </nestedThings>
    <pageTitle>
      <Value><![CDATA[Something]]></Value>
    </pageTitle>
    <sineGriyo>
      <Value><![CDATA[]]></Value>
    </sineGriyo>
    <somethingInATab>
      <Value><![CDATA[Page title]]></Value>
    </somethingInATab>
  </Properties>
</Content>