<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca0e77f5-47a9-4c02-a925-91a20c172c44" Alias="Simple Child" Level="2">
  <Info>
    <Parent Key="8502a7b4-f148-4385-931c-92e6237dfdae">Simple Homepage</Parent>
    <Path>/SimpleHomepage/SimpleChild</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleDocType</ContentType>
    <CreateDate>2021-07-16T10:39:25</CreateDate>
    <NodeName Default="Simple Child" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4732018-7ee8-4e7f-9ee3-655774431554">SimpleDocType</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Simple child]]></Value>
    </pageTitle>
  </Properties>
</Content>