<?xml version="1.0" encoding="utf-8"?>
<Content Key="df1eb830-411b-4d41-a343-3917b76d533c" Alias="Tattoo" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Tattoo</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Tattoo" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[tattoo,dedication]]></Value>
    </category>
    <description>
      <Value><![CDATA[Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "66b35687-ebab-4b08-9e7b-49c6b354b646",
    "mediaKey": "20e3a8ff-ad1b-4fe9-b48c-b8461c46d2d0",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[499]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Tattoo]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-TATTOO]]></Value>
    </sku>
  </Properties>
</Content>