<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc41a208-5c36-4978-a3e2-7cfcfd581980" Alias="This will be great" Level="3">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Home/Blog/ThisWillBeGreat</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="This will be great" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[["great","umbraco"]]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Proin eget tortor risus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed]]></Value>
    </excerpt>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[This will be great]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>