<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c1c3a2c-72b0-45e2-a3c3-3c068164a018" Alias="Todo list for the Starter Kit" Level="3">
  <Info>
    <Parent Key="3cce2545-e3ac-44ec-bf55-a52cc5965db3">About Us</Parent>
    <Path>/Home/AboutUs/TodoListForTheStarterKit</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Todo list for the Starter Kit" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Things to improve]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>