<?xml version="1.0" encoding="utf-8"?>
<Macro Key="7532d0cc-29d2-48d0-ba66-241d1f12f188" Alias="AMacro" Level="0">
  <Name>A Macro</Name>
  <MacroSource></MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>