<?xml version="1.0" encoding="utf-8"?>
<Macro Key="8407ff64-044a-4b99-8703-9e4849051017" Alias="latestBlogposts" Level="0">
  <Name>Get Latest Blogposts</Name>
  <MacroSource>~/Views/MacroPartials/LatestBlogposts.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>How many posts should be shown</Name>
      <Alias>numberOfPosts</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.Integer</EditorAlias>
    </Property>
    <Property>
      <Name>Where to get blog posts from</Name>
      <Alias>startNodeId</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>