<?xml version="1.0" encoding="utf-8" ?> 
<uSyncBackOfficeSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- uSync 3.0. Settings file, -->
  
  <!-- uSync folder -->
  <Folder>~/uSync/data/</Folder>

  <!-- run import at startup -->
  <Import>true</Import> 
  
  <!-- export everything to disk at startup -->  
  <ExportAtStartup>false</ExportAtStartup>
    
  <!-- when a user saves something, write it to disk -->  
  <ExportOnSave>true</ExportOnSave> 

  <!-- watch the usync folder, and if something changes, import it-->  
  <WatchForFileChanges>false</WatchForFileChanges> 
  
  <!-- create an archive, when an item is a save, 
      if you're using source control, you probibly don't want this -->
  <ArchiveVersions>false</ArchiveVersions>
  <ArchiveFolder>~/uSync/Archive/</ArchiveFolder>
  <MaxArchiveVersionCount>0</MaxArchiveVersionCount>

  <!-- Backups, create backups before doing the import, this will
        help, when rollback is implimented -->
  <BackupFolder>~/uSync/Backup/</BackupFolder>
  
  <!-- for a live site - you want don't throw errors = true, then the site won't be affected should usync do something bad -->
  <DontThrowErrors>false</DontThrowErrors>
  
  <!-- set to true, and folders and file names will use the ID (not the name or alias) good if you are hitting path length issues -->
  <UseShortIdNames>false</UseShortIdNames>

  <!-- 
    under normal operation usync will delete files, when you delete or rename something,
    for some deployment senarios this can be a pain, because you can't always clean your
    folder before deployment - with Preserve set to true, usync will just leave a marker
    file in the place of anything that gets renamed - so you can do additive only deployments
  -->
  <PreserveAllFiles>false</PreserveAllFiles>


  <!-- name of the handler group to use in standard back office operations -->
  <!-- 
      if you want to have diffrent groups on different instances, create new 
      handler groups, and transform this value between your deployments. 
      
      you can also set this in the app settings in web.config, 
      
        <add key="uSync.HandlerGroup" value="default" />
          
      but you need to remove the value in this file if you do that.            
  -->
  <HandlerGroup>default</HandlerGroup>

  <!-- turn individual elements on or off 
    if a handler is registerd but not listed then it is by 
    default on - you have to add it to the list, to turn it off.
  -->
  <Handlers Group="default" EnableMissing="true">
    <HandlerConfig Name="uSync: DataTypeHandler" Enabled="true" />
    <HandlerConfig Name="uSync: TemplateHandler" Enabled="true" />

    <HandlerConfig Name="uSync: ContentTypeHandler" Enabled="true" />
    <HandlerConfig Name="uSync: MediaTypeHandler" Enabled="true" />
    <HandlerConfig Name="uSync: LanguageHandler" Enabled="true" />
    <HandlerConfig Name="uSync: DictionaryHandler" Enabled="true" />
    <HandlerConfig Name="uSync: MacroHandler" Enabled="true" />
    <HandlerConfig Name="uSync: DataTypeMappingHandler" Enabled="true" />
    <HandlerConfig Name="uSync: MemberTypeHandler" Enabled="false" />
    <HandlerConfig Name="uSync: MemberHandler" Enabled="false" />
    <HandlerConfig Name="uSync: MemberGroupHandler" Enabled="false" />
    <HandlerConfig Name="uSync: UserTypeHandler" Enabled="false" />
    <HandlerConfig Name="uSync: UserHandler" Enabled="false" />
    
    <!-- content edition - if installed -->
    <HandlerConfig Name="uSync: ContentHandler" Enabled="true" />
    <HandlerConfig Name="uSync: MediaHandler" Enabled="true" />
  </Handlers>
  
  <!-- deployment handlers 
          - the files are flat, and things never get deleted from disk -->
  <Handlers Group="Deploy" EnableMissing="false">
    <HandlerConfig Name="Deploy:DataTypeHandler" Enabled="true"/>
    <HandlerConfig Name="Deploy:TemplateHandler" Enabled="true"/>
    <HandlerConfig Name="Deploy:ContentTypeHandler" Enabled="true"/>
    <HandlerConfig Name="Deploy:MediaTypeHandler" Enabled="true"/>
    <HandlerConfig Name="Deploy:LanguageHandler" Enabled="true"/>
    <HandlerConfig Name="Deploy:DictionaryHandler" Enabled="true"/>
    <HandlerConfig Name="Deploy:MacroHandler" Enabled="true"/>
    <HandlerConfig Name="Deploy:MemberTypeHandler" Enabled="true"/>
  </Handlers>

  <!-- 
    Handler groups: allow you to specify groups you want to import / export 
    
    Good if you have multiple targets, and you don't want to do everything 
    all the time. 
  -->
  <!-- 
  <Handlers Group="snapshot" EnableMissing="false"> 
    <HandlerConfig Name="uSync: DataTypeHandler" Enabled="true" />
    <HandlerConfig Name="uSync: TemplateHandler" Enabled="true" />
    <HandlerConfig Name="uSync: ContentTypeHandler" Enabled="true" />
  </Handlers>
  -->
</uSyncBackOfficeSettings>
