<div ng-controller="uSyncSettingsController as vm">
    <div class="usync-settings">
        <div class="usync-main-settings">
            <umb-box>
                <umb-box-header title="Settings" description="Controls what uSync does and when">                   
                </umb-box-header>
                <umb-box-content>

                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Import at startup</div>
                            <div class="umb-permission__description">Run an import of files from the disk when Umbraco starts</div>
                        </div>
                        <div class="umb-permission__value">
                            {{vm.settings.importAtStartup}}
                        </div>
                    </div>

                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Export at startup</div>
                            <div class="umb-permission__description">Export the Umbraco settings when the site starts up</div>
                        </div>
                        <div class="umb-permission__value">
                            {{vm.settings.exportAtStartup}}
                        </div>
                    </div>

                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Export on Save</div>
                            <div class="umb-permission__description">Generate uSync files when items are saved</div>
                        </div>
                        <div class="umb-permission__value">
                            {{vm.settings.exportOnSave}}
                        </div>
                    </div>

                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Export on Save</div>
                            <div class="umb-permission__description">Handler groups that can be seen/used on the dashboard</div>
                        </div>
                        <div class="umb-permission__value">
                            {{vm.settings.uiEnabledGroups}}
                        </div>
                    </div>


                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Fail on Missing Parent</div>
                            <div class="umb-permission__description">Import of an item will fail if it's parent is not already in Umbraco or the current Import</div>
                        </div>
                        <div class="umb-permission__value">
                            <div ng-if="vm.settings.failOnMissingParent"><i class="icon icon-check color-green"></i></div>
                            <div ng-if="!vm.settings.failOnMissingParent"><i class="icon icon-wrong color-red"></i></div>
                        </div>
                    </div>

                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Enable History</div>
                            <div class="umb-permission__description">Save the result of imports/exports in the history folder</div>
                        </div>
                        <div class="umb-permission__value">
                            <div ng-if="vm.settings.enableHistory"><i class="icon icon-check color-green"></i></div>
                            <div ng-if="!vm.settings.enableHistory"><i class="icon icon-wrong color-red"></i></div>
                        </div>
                    </div>

                </umb-box-content>
            </umb-box>

            <umb-box>
                <umb-box-header title="Files and Folders"
                                description="Control how uSync writes and reads files to disk"></umb-box-header>
                <umb-box-content>
                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Root folder</div>
                            <div class="umb-permission__description">Default location uSync files are saved and loaded from</div>
                        </div>
                        <div class="umb-permission__value">
                            {{vm.settings.rootFolder}}
                        </div>
                    </div>
                </umb-box-content>
            </umb-box>
        </div>
        <div>
            <umb-box>
                <umb-box-header title="Handler defaults" description="Default handler set from config"></umb-box-header>
                <umb-box-content>
                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Flat structure</div>
                            <div class="umb-permission__description">All items of a type are stored in a flat folder structure</div>
                        </div>
                        <div class="umb-permission__value">
                            <div ng-if="vm.handlerSet.handlerDefaults.useFlatStructure"><i class="icon icon-check color-green"></i></div>
                            <div ng-if="!vm.handlerSet.handlerDefaults.useFlatStructure"><i class="icon icon-wrong color-red"></i></div>
                        </div>
                    </div>
                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>use guids for filenames</div>
                            <div class="umb-permission__description">Use the guid of an item as the filename</div>
                        </div>
                        <div class="umb-permission__value">
                            <div ng-if="vm.handlerSet.handlerDefaults.guidNames"><i class="icon icon-check color-green"></i></div>
                            <div ng-if="!vm.handlerSet.handlerDefaults.guidNames"><i class="icon icon-wrong color-red"></i></div>
                        </div>
                    </div>
                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Handler groups</div>
                            <div class="umb-permission__description">Groups to limit handler set to</div>
                        </div>
                        <div class="umb-permission__value">
                            <div ng-if="vm.handlerSet.handlerGroups.length > 0">
                                <span ng-repeat="group in vm.handlerSet.handlerGroups">{{group}}</span>
                            </div>
                            <div ng-if="vm.handlerSet.handlerGroups.length == 0">
                                All
                            </div>
                        </div>
                    </div>
                    <div class="umb-permission usync-setting-value">
                        <div class="umb-permission__content">
                            <div>Disabled handlers</div>
                            <div class="umb-permission__description">Handlers explitily disabled for this handler set</div>
                        </div>
                        <div class="umb-permission__value">
                            <div ng-if="vm.handlerSet.disabledHandlers.length > 0">
                                <span ng-repeat="handler in vm.handlerSet.disabledHandlers">{{handler}}</span>
                            </div>
                            <div ng-if="vm.handlerSet.disabledHandlers.length == 0">
                                None
                            </div>
                        </div>
                    </div>

                    <div>
                        <p class="color-deep-orange">
                            <em>If you change these settings, you should perform a 'Clean Export' as they alter the structure of the uSync folders</em>
                        </p>
                    </div>

                </umb-box-content>
            </umb-box>


            <umb-box ng-repeat="handlerSet in vm.settings.handlerSets" class="usync-handler-box">
                <umb-box-header title="Handler Set: {{handlerSet.Name}}" ng-click="handlerSet.show = !handlerSet.show"></umb-box-header>
                <umb-box-content ng-if="handlerSet.show">
                    <div ng-repeat="handler in handlerSet.handlers" class="umb-permission">
                        <umb-toggle class="umb-permission__toggle"
                                    checked="handler.enabled"
                                    on-click="handler.enabled = !handler.enabled">
                        </umb-toggle>

                        <div class="umb-permission__content">
                            <div>
                                {{handler.alias}}
                            </div>
                            <div class="umb-permission__description">
                                Enabled for : 
                                <ul ng-if="handler.actions.length > 0" class="usync-action-list">
                                    <li ng-repeat="action in handler.actions">{{action}}</li></ul>
                                <span ng-if="!handler.actions">All</span>
                            </div>
                        </div>
                    </div>
                </umb-box-content>
            </umb-box>


            <umb-box>
                <umb-box-header title="Application settings"></umb-box-header>
                <umb-box-content>
                        Setting are controlled via the appsettings.json file
                        <a href="{{vm.docslink}}" target="_blank">see our docs</a>
                </umb-box-content>
                <umb-box-content>
                        <div class="text-center">
                            <umb-button action="vm.openAppSettingsOverlay()"
                                        label="view appsettings"
                                        type="button"
                                        size="l"
                                        button-style="action"></umb-button>
                        </div>
                </umb-box-content>
            </umb-box>
        </div>
    </div>
</div>
