<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="476238bc-1e0b-4e8c-93de-9498ff72e766" Alias="baseChild" Level="2">
  <Info>
    <Name>BaseChild</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="292a7a42-41a1-4c72-8565-aa1fb4eed940">base</Parent>
    <Compositions>
      <Composition Key="292a7a42-41a1-4c72-8565-aa1fb4eed940">base</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>