<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b1dfc3b-828d-4c10-b8b7-7ca7865b1848" Alias="baseGrandchild" Level="3">
  <Info>
    <Name>BaseGrandchild</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="476238bc-1e0b-4e8c-93de-9498ff72e766">baseChild</Parent>
    <Compositions>
      <Composition Key="476238bc-1e0b-4e8c-93de-9498ff72e766">baseChild</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>