<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="476238bc-1e0b-4e8c-93de-9498ff72e767" Alias="baseChildFile" Level="5">
  <Info>
    <Name>BaseChildFile</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="697172c7-0948-4994-9c95-d348355bd0dd">baseFromFile</Parent>
    <Compositions>
      <Composition Key="697172c7-0948-4994-9c95-d348355bd0dd">baseFromFile</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>