<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5365a5a-9fdd-42c0-b7a3-bad1b5112aca" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="f034325b-cd3a-4303-b3e8-13a565244fe9">contentBase</Composition>
      <Composition Key="d26360de-896c-4958-9359-087edf70c06a">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f057acd8-fb91-4353-969f-92a53fe8f137">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d5365a5a-9fdd-42c0-b7a3-bad1b5112aca" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>