<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f7a0935-2f7f-42c7-834a-bb0a03581cdb" Alias="nestedPage" Level="1">
  <Info>
    <Name>Nested Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>NestedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f71bf7ef-dd46-4ebf-b61e-4b998f8278e3">NestedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f872d36b-93a9-4af3-afec-34b5fb1ec7a6</Key>
      <Name>Date Time</Name>
      <Alias>dateTime</Alias>
      <Definition>c648ef0e-f338-4df4-ba52-9f6ba2b2de33</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>cc4b3ec3-9b7b-471c-bb5a-aa3295779196</Key>
      <Name>Nested</Name>
      <Alias>nested</Alias>
      <Definition>b0cd2792-1b2b-40c7-bf89-efeb50ae6d4c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>