<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f252213-bd09-44a6-98cf-242d3d3a4d59" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="f034325b-cd3a-4303-b3e8-13a565244fe9">contentBase</Composition>
      <Composition Key="d26360de-896c-4958-9359-087edf70c06a">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d4d313bb-3600-472e-870d-d4a8ce56d414">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c29c143d-eb01-4493-8d26-c17afa01d21f" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>03c52679-d760-4903-9fa9-e888d3237bc9</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>