<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c29c143d-eb01-4493-8d26-c17afa01d21f" Alias="person" Level="1">
  <Info>
    <Name>Person</Name>
    <Icon>icon-user-female color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="d26360de-896c-4958-9359-087edf70c06a">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Person</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8f3fd972-ffd6-47aa-87b5-7feffb2a600a">Person</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>34484e71-9f03-4d1d-8a34-8c47d66ca3f8</Key>
      <Name>Department</Name>
      <Alias>department</Alias>
      <Definition>b58c1530-91c9-4c83-aa35-032aca0f7b89</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dabb6c04-6d02-4efa-8286-ab0ed1a5261b</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bbc00cb1-e451-4f47-8377-18e9ac18a43f</Key>
      <Name>Facebook username</Name>
      <Alias>facebookUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ea072df0-2416-4a55-95ac-41fb122d4d1c</Key>
      <Name>Instagram Username</Name>
      <Alias>instagramUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5703ca8f-39ca-4292-896e-df038953f6f7</Key>
      <Name>LinkedIn username</Name>
      <Alias>linkedInUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>03d4f441-7ac5-42dc-9583-23c46ddcc800</Key>
      <Name>Photo</Name>
      <Alias>photo</Alias>
      <Definition>e26a8d91-a9d7-475b-bc3b-2a09f4743754</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7d72be88-9ae3-4c3f-a294-a3f170c34c38</Key>
      <Name>Twitter username</Name>
      <Alias>twitterUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>