<div ng-controller="uSyncChangeDialogController as vm">
    <umb-editor-panel>
        <umb-editor-header name="vm.pageTitle()"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-box>
                <umb-box-header title="{{vm.item.Name}}"
                                description="{{vm.getTypeName(vm.item.ItemType)}} {{vm.item.Message}}">
                </umb-box-header>
                <umb-box-container>
                    <umb-box-content>
                        <div ng-if="vm.item.Details.length > 0">
                            <h5>Detected changes</h5>
                            <div class="usync-item-details">
                                <div class="umb-table">
                                    <div class="umb-table-head">
                                        <div class="umb-table-row">
                                            <div class="umb-table-cell"></div>
                                            <div class="umb-table-cell usync-detail-action-cell">Action</div>
                                            <div class="umb-table-cell umb-table__name">Item</div>
                                            <div class="umb-table-cell">Old Value</div>
                                            <div class="umb-table-cell">New Value</div>
                                        </div>
                                    </div>
                                    <div class="umb-table-body">
                                        <div ng-repeat="detail in vm.item.Details" class="umb-table-row"
                                             ng-class="{'usync-row-delete': detail.Change == 'Delete', 'usync-row-create' : detail.Change == 'Create'}">
                                            <div class="umb-table-cell">
                                                <i ng-if="detail.Change == 'Create'" class="icon icon-add color-green"></i>
                                                <i ng-if="detail.Change == 'NoChange'" class="icon icon-check color-green"></i>
                                                <i ng-if="detail.Change == 'Update'" class="icon icon-sync color-orange"></i>
                                                <i ng-if="detail.Change == 'Delete'" class="icon icon-wrong color-red"></i>
                                            </div>
                                            <div class="umb-table-cell usync-detail-action-cell">
                                                {{detail.Change}}
                                            </div>
                                            <div class="umb-table-cell umb-table__name">
                                                {{detail.Name}}
                                            </div>
                                            <div class="umb-table-cell usync-old-value">
                                                {{detail.OldValue}}
                                            </div>
                                            <div class="umb-table-cell usync-new-value">
                                                {{detail.NewValue}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="vm.item.Details.length == 0 && vm.item.Change == 'Update'" class="alert alert-info">
                            <h4>No Changes detected</h4>
                            <p>
                                It is possible that the .config file is diffrent, because it contains extra information
                                (such as xml comments) but no properties or values on this item will change when the file
                                is processed.
                            </p>
                        </div>

                        <div ng-if="vm.item.Change == 'Create'" class="alert alert-success">
                            <h4>Create</h4>
                            <p>
                                This item doesn't currently exist, and will be created on import.
                            </p>
                        </div>
                    </umb-box-content>
                </umb-box-container>
            </umb-box>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            action="vm.close()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-panel>
</div>