<div ng-controller="uSync8DashboardController as vm">

    <umb-box>
        <umb-box-content>
            <div class="flex justify-between items-center">
                <div>
                    <h3 class="bold"><localize key="usync_name">uSync 8</localize></h3>
                    <localize key="usync_intro"></localize>
                </div>
                <div class="flex flex-column usync-header-buttons">
                    <umb-button type="button"
                                button-style="link"
                                label-key="general_settings"
                                action="">
                    </umb-button>
                </div>
            </div>
        </umb-box-content>
    </umb-box>
    <umb-box>
        <umb-box-content>
            <div>
                <umb-button type="button"
                            button-style="info"
                            label-key="usync_report"
                            action="vm.report()">
                </umb-button>
                <umb-button type="button"
                            button-style="primary"
                            label-key="usync_import"
                            action="vm.importItems(false)">
                </umb-button>
                <umb-button type="button"
                            button-style="neutral"
                            label-key="usync_export"
                            action="vm.exportItems()">
                </umb-button>
            </div>
        </umb-box-content>
    </umb-box>

    <umb-box ng-if="vm.working">
        <umb-box-content>
            <div class="flex justify-start items-center">
                <div ng-repeat="handler in vm.status.Handlers"
                     class="text-center usync-handler-icon"
                     ng-class="{'usync-pending' : handler.Status == 0, 'usync-progress' : handler.Status == 1, 'usync-complete' : handler.Status == 2}">
                    <i class="icon {{handler.Icon}}"></i>
                    <div class="">{{handler.Name}}</div>
                </div>
            </div>
            <div class="flex justify-center">
                <h4>{{vm.status.Message}}</h4>
            </div>
            <div class="progress" style="height: 1px;">
                <div class="bar" role="progressbar" style="width: {{vm.status.Percent}}%;" aria-valuenow="{{vm.status.Percent}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </umb-box-content>
    </umb-box>
       
    <umb-box ng-if="vm.reported">
        <div class="umb-box-header flex justify-between items-center">
            <div>
                <div class="umb-box-header-title">Report</div>
                <div class="umb-box-header-description">Detected {{vm.countChanges(vm.results)}} changes across {{vm.results.length}} items</div>
            </div>
            <umb-toggle checked="vm.showAll"
                        on-click="vm.toggleAll()"
                        show-labels="true"
                        label-on="Show all"
                        label-off="Changes only"
                        label-position="left"
                        ng-if="vm.runMode = 'report'"></umb-toggle>
        </div>
        <umb-box-content>
            <div class="umb-table" ng-show="vm.countChanges(vm.results) > 0 || vm.showAll">
                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell">
                        </div>
                        <div class="umb-table-cell">
                            Type
                        </div>
                        <div class="umb-table-cell">
                            Name
                        </div>
                        <div class="umb-table-cell">
                            Change
                        </div>
                        <div class="umb-table-cell">

                        </div>
                    </div>
                </div>
                <div class="umb-table-body">
                    <div ng-repeat="result in vm.results">
                        <div class="umb-table-row"
                             ng-if="result.Change != 'NoChange' || vm.showAll">
                            <div class="umb-table-cell">
                                <i ng-if="result.Change == 'NoChange'" class="icon icon-check color-green"></i>
                                <i ng-if="result.Change == 'Update'" class="icon icon-sync color-orange"></i>
                            </div>
                            <div class="umb-table-cell">
                                {{vm.getTypeName(result.ItemType)}}
                            </div>
                            <div class="umb-table-cell">
                                {{result.Name}}
                            </div>
                            <div class="umb-table-cell">
                                {{result.Change}}
                            </div>
                            <div class="umb-table-cell">
                                <umb-button type="button"
                                            button-style="link"
                                            label-key="usync_details"
                                            action="vm.toggleDetails(result)"
                                            ng-if="result.Details != null"></umb-button>

                            </div>
                        </div>
                        <div ng-if="result.showDetails"
                             class="usync-item-details">
                            <div class="umb-table">
                                <div class="umb-table-head">
                                    <div class="umb-table-row">
                                        <div class="umb-table-cell"></div>
                                        <div class="umb-table-cell">Name</div>
                                        <div class="umb-table-cell">Old Value</div>
                                        <div class="umb-table-cell">New Value</div>
                                        <div class="umb-table-cell"></div>
                                    </div>
                                </div>
                                <div class="umb-table-body">
                                    <div ng-repeat="detail in result.Details" class="umb-table-row">
                                        <div class="umb-table-cell"></div>
                                        <div class="umb-table-cell">
                                            {{detail.Name}}
                                        </div>
                                        <div class="umb-table-cell">
                                            {{detail.OldValue}}
                                        </div>
                                        <div class="umb-table-cell">
                                            {{detail.NewValue}}
                                        </div>
                                        <div class="umb-table-cell">
                                            {{detail.Change}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center" ng-if="vm.countChanges(vm.results) == 0">
                <h4>No Changes</h4>
            </div>
        </umb-box-content>
    </umb-box>

    <!--
    <umb-box>
        <umb-box-content>
            <pre>{{vm.settings}}</pre>
        </umb-box-content>
    </umb-box>

        <pre>{{vm.handlers}}</pre>
    -->
</div>
