.usync-main {
    flex: 1 1 auto;
    margin-right: 20px;
    width: calc(100% - 370px);
}

.usync-sidebar {
    flex: 0 0 350px;
}


.usync-header-buttons {
    padding: 1rem 0;
}

    .usync-header-buttons > * {
        margin: 0.25rem 0;
    }

.usync-action-buttons {
    margin: 0.25rem 0
}

    .usync-action-buttons > * {
        margin-right: 0.25rem;
    }

.usync-item-details {
    border-left: 4px solid #aaa;
}

    .usync-item-details .umb-table {
        background-color: #f3f3f5;
    }

.usync-handler-box {
    text-align: center;
    color: #ccc !important;
    margin: 1rem 1rem 0;
}

    .usync-handler-box i.handler-icon {
        font-size: 50px;
    }

    .usync-handler-box i.handler-status-icon {
        font-size: 20px;
        margin: 1rem 0;
        display: block;
    }


    .usync-handler-box h5 {
        margin: 0;
        font-weight: 300;
    }

    .usync-handler-box.enabled {
        color: #555 !important;
    }



    .usync-handler-box.complete {
        color: #03bfb3 !important;
    }
