.usync-main {
    flex: 1 1 auto;
    margin-right: 20px;
    width: calc(100% - 370px);
}

.usync-sidebar {
    flex: 0 0 350px;
}


.usync-header-buttons {
    padding: 1rem 0;
}

    .usync-header-buttons > * {
        margin: 0.25rem 0;
    }

.usync-action-buttons {
    margin: 0.25rem 0
}

    .usync-action-buttons > * {
        margin-right: 0.25rem;
    }

.usync-item-details {
    border-left: 4px solid #aaa;
}

    .usync-item-details .umb-table {
        background-color: #f3f3f5;
    }

.usync-handler-icon {
    padding: 0.75em;
    margin-right: 14px;
    transition: all .3s ease-in;
}

    .usync-handler-icon i {
        font-size: 40px;
    }

    .usync-hanler-icon .usync-handler-name {
        font-weight: 700;
        margin-top: 0.25em;
    }

    .usync-handler-icon.enabled {
        color: #555 !important;
    }


.usync-handler-icon.usync-pending {
    color: #eee;
}
.usync-handler-icon.usync-progress {
    color: #675e7a;
}
.usync-handler-icon.usync-complete {
    color: #35c786;
}
