<?xml version="1.0" encoding="utf-8"?>
<uSync>
  <BackOffice>
    <Folder>~/uSync/v8/</Folder>
    <FlatFolders>True</FlatFolders>
    <ImportAtStartup>False</ImportAtStartup>
    <ExportAtStartup>False</ExportAtStartup>
    <ExportOnSave>True</ExportOnSave>
    <UseGuidFilenames>False</UseGuidFilenames>
    <BatchSave>False</BatchSave>
    <Handlers EnableMissing="true">
      <Handler Alias="dataTypeHandler" Enabled="true" />
      <Handler Alias="languageHandler" Enabled="true" />
      <Handler Alias="macroHandler" Enabled="true" />
      <Handler Alias="mediaTypeHandler" Enabled="true" />
      <Handler Alias="memberTypeHandler" Enabled="true" />
      <Handler Alias="templateHandler" Enabled="true" />
      <Handler Alias="contentTypeHandler" Enabled="true" />
      
      <!-- Content edition : EnableMissing turns them on by default -->
      <!-- 
        <Handler Alias="contentHandler" Enabled="true" />
        <Handler Alias="contentTemplateHandler" Enabled="true" />
        <Handler Alias="dictionaryHandler" Enabled="true" />
        <Handler Alias="domainHandler" Enabled="true" />
        <Handler Alias="mediaHandler" Enabled="true" />
      -->
    </Handlers>
  </BackOffice>
</uSync>