<?xml version="1.0" encoding="utf-8"?>
<uSync>
  <BackOffice>
    <Folder>~/uSync/v8/</Folder>
    <FlatFolders>True</FlatFolders>
    <ImportAtStartup>False</ImportAtStartup>
    <ExportAtStartup>False</ExportAtStartup>
    <ExportOnSave>True</ExportOnSave>
    <UseGuidFilenames>False</UseGuidFilenames>
    <BatchSave>False</BatchSave>
    
    <!-- calls a rebuild cache when an import completes -->
    <RebuildCacheOnCompleation>True</RebuildCacheOnCompleation>
    
    <!-- handler sets -->
    <HandlerSets default="default">

      <Handlers Name="default">
        <Handler Alias="dataTypeHandler" Enabled="true" />
        <Handler Alias="languageHandler" Enabled="true" />
        <Handler Alias="macroHandler" Enabled="true" />
        <Handler Alias="mediaTypeHandler" Enabled="true" />
        <Handler Alias="memberTypeHandler" Enabled="true" />
        <Handler Alias="templateHandler" Enabled="true" />
        <Handler Alias="contentTypeHandler" Enabled="true" />
        <Handler Alias="contentHandler" Enabled="true" />
        <Handler Alias="contentTemplateHandler" Enabled="true" />
        <Handler Alias="dictionaryHandler" Enabled="true" />
        <Handler Alias="domainHandler" Enabled="true" />
        <Handler Alias="mediaHandler" Enabled="true" />
      </Handlers>

    </HandlerSets>
  </BackOffice>
</uSync>