@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "SimpleDocType.cshtml";
}

@* the fun starts here *@
@{
    foreach (var p in Model.Properties)
    {
        var x = p.GetSourceValue();

        if (x != null)
        {
            var y = x.ToString();

            <div>
                <h1>@p.Alias</h1>
                <pre>@y</pre>
            </div>
        }
    }
}
