<div ng-controller="uSync8Controller as vm">

    <umb-editor-sub-header>
        <umb-editor-sub-header-content-left>
            <div>
                <umb-button type="button"
                            button-style="info"
                            label-key="usync_report"
                            action="vm.report()"
                            disabled="vm.working">
                </umb-button>
                <umb-button-group default-button="vm.importButton.defaultButton"
                                  sub-buttons="vm.importButton.subButtons"
                                  direction="down"
                                  float="right"
                                  button-style="success"
                                  state="vm.impotButton.state">

                </umb-button-group>

                <umb-button type="button"
                            button-style="neutral"
                            label-key="usync_export"
                            action="vm.exportItems()"
                            disabled="vm.working">
                </umb-button>
            </div>
        </umb-editor-sub-header-content-left>
    </umb-editor-sub-header>

    <umb-box>
        <umb-box-content ng-if="vm.working || vm.reported">
            <usync-progress-view update="vm.update" 
                                 status="vm.status"
                                 hide-labels="false" />
        </umb-box-content>
    </umb-box>

    <div ng-if="vm.reported">
        <usync-report-view actions="vm.actions" results="vm.results" />
    </div>

</div>