<?xml version="1.0" encoding="utf-8"?>
<uSync>
  <BackOffice>
    <!-- <AddOnPing>False</AddOnPing> -->
    <Folder AllowUnsafe="True">~/uSync/v8/</Folder>
    <!-- <Folder AllowUnsafe="False">C:\Test\uSync</Folder> -->
    <FlatFolders>True</FlatFolders>
    <ImportAtStartup>False</ImportAtStartup>
    <ExportAtStartup>False</ExportAtStartup>
    <ExportOnSave>True</ExportOnSave>
    <UseGuidFilenames>False</UseGuidFilenames>
    <BatchSave>False</BatchSave>
    <ReportDebug>False</ReportDebug>
    <HandlerDefaults>
      <!--
			<Add Key="CreateOnly" Value="true" /> 
			<Add Key="NoRemove" Value="true" /> -->
    </HandlerDefaults>
    <HandlerSets default="default" Default="default">
      <Handlers Name="default">
        <Handler Alias="dataTypeHandler" Enabled="true" Actions="Export,Import,Save" />
        <Handler Alias="languageHandler" Enabled="true" Actions="All" />
        <Handler Alias="macroHandler" Enabled="true" Actions="All" />
        <Handler Alias="memberTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="templateHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTemplateHandler" Enabled="true" Actions="All" />
        <Handler Alias="dictionaryHandler" Enabled="true" Actions="All" />
        <Handler Alias="mediaTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="domainHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentHandler" Enabled="true" Actions="All">
          <!--
          <Add Key="ImportTrashed" Value="true" />
          <Add Key="ExportTrashed" Value="false" />
          <Add Key="Include" Value="/HomepageNameUpdate" />
          <Add Key="Exclude" Value="/HomepageNameUpdate/ContentTemplate" />
          <Add Key="RulesOnExport" Value="true" />
          -->
        </Handler>
        <Handler Alias="mediaHandler" Enabled="true" Actions="All" />
        <Handler Alias="relationTypeHandler" Enabled="true" Actions="All" />
      </Handlers>
      <Handlers Name="publish">
        <Handler Alias="dataTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="languageHandler" Enabled="true" Actions="All" />
        <Handler Alias="macroHandler" Enabled="true" Actions="All" />
        <Handler Alias="memberTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="templateHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTemplateHandler" Enabled="true" Actions="All" />
        <Handler Alias="dictionaryHandler" Enabled="true" Actions="All" />
        <Handler Alias="mediaTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="domainHandler" Enabled="true" Actions="All" />
        <!-- <Handler Alias="contentHandler" Enabled="true" Actions="All" /> -->
        <Handler Alias="mediaHandler" Enabled="true" Actions="All" />
      </Handlers>
    </HandlerSets>
    <RebuildCacheOnCompleation>False</RebuildCacheOnCompleation>
    <RebuildCacheOnCompletion>False</RebuildCacheOnCompletion>
    <FailOnMissingParent>True</FailOnMissingParent>
    <media>
      <folder>/something</folder>
    </media>
    <Mappings>
      <!-- test (map to self . but it doesn't cause a loop) -->
      <Add Key="Umbraco.MultiUrlPicker" Value="Umbraco.MultiUrlPicker" />
    </Mappings>
    <ShowVersionCheckWarning>False</ShowVersionCheckWarning>
  </BackOffice>
</uSync>