<?xml version="1.0" encoding="utf-8"?>
<uSync>
  <BackOffice>
    <Folder>~/uSync/v8/</Folder>
    <FlatFolders>True</FlatFolders>
    <ImportAtStartup>False</ImportAtStartup>
    <ExportAtStartup>False</ExportAtStartup>
    <ExportOnSave>True</ExportOnSave>
    <UseGuidFilenames>False</UseGuidFilenames>
    <Handlers EnableMissing="true">
      <Handler Alias="dataTypeHandler" Enabled="true" />
      <Handler Alias="languageHandler" Enabled="true" />
      <Handler Alias="macroHandler" Enabled="true" />
      <Handler Alias="mediaTypeHandler" Enabled="true" />
      <Handler Alias="memberTypeHandler" Enabled="false" />
      <Handler Alias="templateHandler" Enabled="true" />
      <Handler Alias="contentTypeHandler" Enabled="true" />
      <Handler Alias="contentHandler" Enabled="true" />
    </Handlers>
  </BackOffice>
</uSync>