<div ng-controller="uSync8DashboardController as vm">
    <umb-box>
        <umb-box-content>
            <div class="flex justify-between items-center">
                <h3 class="bold"><localize key="usync_name">uSync 8</localize></h3>
                <umb-button type="button"
                            button-style="success"
                            label-key="usync_importaction"
                            action="">
                </umb-button>
            </div>
            <div>
                <localize key="usync_intro"></localize>
            </div>
            <div class="flex justify-start items-center">
                <umb-button type="button"
                            button-style="default"
                            label-key="usync_report"
                            action="vm.report()">
                </umb-button>

            </div>
        </umb-box-content>
    </umb-box>
    <umb-box>
        <umb-box-content>
            <pre>{{vm.settings}}</pre>
        </umb-box-content>
    </umb-box>

    <div class="umb-healthcheck-group__details-group">

        <div class="umb-healthcheck-group__details-group-title">
            <div class="umb-healthcheck-group__details-group-name">Importing</div>
        </div>

        <div class="umb-healthcheck-group__details-checks">
            <div class="umb-healthcheck-group__details-check">
                <umb-box-content>
                    <div class="usync-handlers flex justify-center items-center">
                        <div ng-repeat="handler in vm.handlers" class="usync-handler-box text-center"
                             ng-class="{'enabled' : handler.Enabled, 'color-green' : $index < 2}">
                            <i class="icon {{handler.Icon}} handler-icon"></i>
                            <h5>{{handler.Folder}}</h5>
                            <i ng-if="$index < 2" class="icon icon-checkbox handler-status-icon"></i>
                            <i ng-if="$index > 1" class="icon icon-checkbox-empty handler-status-icon"></i>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <h4>Syncing doctypes</h4>
                    </div>
                </umb-box-content>
            </div>
        </div>
    </div>

    <umb-box>
        <umb-box-content ng-if="!vm.working">
            <div ng-repeat="result in vm.results">
                {{result}}
                <hr />
            </div>
        </umb-box-content>
    </umb-box>

    <pre>{{vm.handlers}}</pre>

</div>
