.usync-main {
    flex: 1 1 auto;
    margin-right: 20px;
    width: calc(100% - 370px);
}

.usync-sidebar {
    flex: 0 0 350px;
}


.usync-header-buttons {
    padding: 1rem 0;
}

    .usync-header-buttons > * {
        margin: 0.25rem 0;
    }

.usync-action-buttons {
    margin: 0.25rem 0
}

    .usync-action-buttons > * {
        margin-right: 0.25rem;
    }

.usync-action-message {
    font-weight: 700;
}

.usync-detail-count {
    padding: 6px 0;
}

.usync-item-details {
    border-left: 4px solid #aaa;
}

    .usync-item-details .umb-table-head .umb-table-row {
        background-color: rgba(0,0,0,0.05);
        border-bottom: 1px solid black;
    }

    .usync-item-details .umb-table {
        background-color: #f3f3f5;
    }

    .usync-item-details .usync-detail-action-cell {
        flex: 0 0 110px;
    }

    .usync-item-details .usync-old-value {
        text-decoration: line-through;
        color: #C62828;
    }

    .usync-item-details .usync-new-value {
        color: #2e7d32
    }

.usync-row-delete {
    background-color: #ffebee;
}

.usync-row-create {
    background-color: #E8F5E9;
}

.usync-handler-icon {
    padding: 0.75em;
    margin-right: 14px;
    transition: all .3s ease-in;
}

    .usync-handler-icon i {
        font-size: 40px;
    }

    .usync-handler-icon .usync-handler-name {
        font-weight: 700;
        margin-top: 0.25em;
    }

    .usync-handler-icon.enabled {
        color: #555 !important;
    }


    .usync-handler-icon.usync-pending {
        color: #eee;
    }

    .usync-handler-icon.usync-progress {
        color: #675e7a;
    }

    .usync-handler-icon.usync-complete {
        color: #35c786;
    }


.usync-settings {
    display: flex;
}

.usync-settings > div {
    width: 50%;
}

    .usync-settings .usync-main-settings {
        margin-right: 14px;
    }

    .usync-control {
        position: relative;
        padding: 10px 0;
    }

    .usync-control input[type="text"] {
        position: absolute;
        top: 10px;
        width: 200px;
    }