<?xml version="1.0" encoding="utf-8"?>
<Content Key="262beb70-53a6-49b8-9e98-cfde2e85a78e" Alias="Biker Jacket" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/BikerJacket</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2021-10-13T09:55:05</CreateDate>
    <NodeName Default="Biker Jacket" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb78adb8-edee-46ea-b8c8-c079c4051106">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[bingo,clothing]]></Value>
    </category>
    <description>
      <Value><![CDATA[Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.]]></Value>
    </description>
    <features>
      <Value><![CDATA[[
  {
    "key": "6a47c043-7699-49c6-a0ed-b335b135ea2b",
    "name": "Free shipping",
    "ncContentTypeAlias": "feature",
    "featureName": "Free shipping",
    "featureDetails": "Isn't that awesome - you only pay for the product",
    "nestedFeature": ""
  },
  {
    "key": "075c935f-4987-4a46-bed9-3286c27f0121",
    "name": "1 Day return policy",
    "ncContentTypeAlias": "feature",
    "featureName": "1 Day return policy",
    "featureDetails": "You'll need to make up your mind fast",
    "nestedFeature": ""
  },
  {
    "key": "457e0ee3-c066-46fa-b379-a083b38aaa20",
    "name": "100 Years warranty",
    "ncContentTypeAlias": "feature",
    "featureName": "100 Years warranty",
    "featureDetails": "But if you're satisfied it'll last a long time",
    "nestedFeature": [
      {
        "key": "26f81893-1cd0-448d-92a6-942f37ce925e",
        "name": "Item 1",
        "ncContentTypeAlias": "feature",
        "featureName": "A Nested Feature",
        "featureDetails": "This is a feature nested inside another feature, and we need to escape for publish o work",
        "nestedFeature": ""
      }
    ]
  }
]]]></Value>
    </features>
    <photos>
      <Value><![CDATA[umb://media/55514845b8bd487cb3709724852fd6bb]]></Value>
    </photos>
    <price>
      <Value><![CDATA[199]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Biker Jacket]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-BIKER-JACKET]]></Value>
    </sku>
  </Properties>
</Content>