<?xml version="1.0" encoding="utf-8"?>
<Content Key="757aab77-7ad0-4d8e-adbd-43959e014d49" Alias="Contact" Level="2">
  <Info>
    <Parent Key="894fc6fb-a91e-484f-927e-b9145d650482">Other</Parent>
    <Path>/Other/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2021-12-21T08:03:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="b28104f9-b397-4425-86d4-d5b5609848b3">contact</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[adf160f1-39f5-44c0-b01d-9e2da32bf093]]></Value>
    </contactForm>
    <contactFormHeader>
      <Value><![CDATA[Send Us A Message]]></Value>
    </contactFormHeader>
    <contactIntro>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget lacinia nisl. Aenean sollicitudin diam vitae enim ultrices, semper euismod magna efficitur.</p>]]></Value>
    </contactIntro>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <mapCoordinates>
      <Value><![CDATA[55.40622012982414,10.388404726982117,18]]></Value>
    </mapCoordinates>
    <mapHeader>
      <Value><![CDATA[You'll find us here]]></Value>
    </mapHeader>
    <pageTitle>
      <Value><![CDATA[Let's have a chat]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>