<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8c6f76b-cb5f-44cf-bd5d-d173554e613c" Alias="ContentPage" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/ContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-01-07T15:27:13</CreateDate>
    <NodeName Default="ContentPage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f057acd8-fb91-4353-969f-92a53fe8f137">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "73ccfdbd-3114-8cc1-87fa-2bc7acf8d1e6",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "feature",
                    "value": {
                      "name": "Doc Type",
                      "featureName": "Feature Name",
                      "featureDetails": "Details",
                      "nestedFeature": [
                        {
                          "key": "f58e6dad-c84d-403c-81e1-90bdb3e39e74",
                          "name": "Nested Feature",
                          "ncContentTypeAlias": "feature",
                          "featureName": "Nested Feature",
                          "featureDetails": "Nested Details. Updates",
                          "nestedFeature": [
                            {
                              "key": "8b439795-7949-49c4-850f-c764445ce88b",
                              "name": "Double Nested",
                              "ncContentTypeAlias": "feature",
                              "featureName": "Double Nested",
                              "featureDetails": "Double Nested",
                              "nestedFeature": "",
                              "repeatable": []
                            }
                          ],
                          "repeatable": ""
                        }
                      ],
                      "repeatable": [
                        {
                          "value": "One"
                        },
                        {
                          "value": "Two"
                        },
                        {
                          "value": "Three"
                        },
                        {
                          "value": "Four"
                        }
                      ]
                    },
                    "id": "9da5b6d3-aeb5-1e20-7c1c-2639ffcdf96e"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Content]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>