<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-10-13T09:55:05</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b3e807c4-ea54-4e1d-aba2-7ebb7cc4df45">home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "latestBlogposts",
                    "macroParamsDictionary": {
                      "numberOfPosts": "3",
                      "startNodeId": "umb://document/1d770f10d1ca4a269d68071e2c9f7ac1"
                    }
                  },
                  "editor": {
                    "name": "Macro",
                    "alias": "macro",
                    "view": "macro",
                    "render": null,
                    "icon": "icon-settings-alt",
                    "config": {}
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "314cb47b-fbe1-eeb6-f7cc-38db875d0f06"
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <colorTheme>
      <Value><![CDATA[earth]]></Value>
    </colorTheme>
    <font>
      <Value><![CDATA[serif]]></Value>
    </font>
    <footerAddress>
      <Value><![CDATA[Umbraco HQ - Unicorn Square - Haubergsvej 1 - 5000 Odense C - Denmark - +45 70 26 11 62]]></Value>
    </footerAddress>
    <footerCTACaption>
      <Value><![CDATA[Read All on the Blog]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value><![CDATA[umb://document/1d770f10d1ca4a269d68071e2c9f7ac1]]></Value>
    </FooterCtalink>
    <footerDescription>
      <Value><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat]]></Value>
    </footerDescription>
    <footerHeader>
      <Value><![CDATA[Umbraco Demo]]></Value>
    </footerHeader>
    <HeroBackgroundImage>
      <Value><![CDATA[umb://media/662af6ca411a4c93a6c722c4845698e7]]></Value>
    </HeroBackgroundImage>
    <heroCTACaption>
      <Value><![CDATA[Check our products]]></Value>
    </heroCTACaption>
    <HeroCtalink>
      <Value><![CDATA[umb://document/ec4aafcc0c254f25a8fe705bfae1d324]]></Value>
    </HeroCtalink>
    <heroDescription>
      <Value><![CDATA[Moonfish, steelhead, lamprey southern flounder tadpole fish sculpin bigeye, blue-redstripe danio collared dogfish. Smalleye squaretail goldfish arowana butterflyfish pipefish wolf-herring jewel tetra, shiner; gibberfish red velvetfish. Thornyhead yellowfin pike threadsail ayu cutlassfish.]]></Value>
    </heroDescription>
    <heroHeader>
      <Value><![CDATA[Umbraco Demo]]></Value>
    </heroHeader>
    <SiteLogo>
      <Value><![CDATA[]]></Value>
    </SiteLogo>
    <sitename>
      <Value><![CDATA[Umbraco Sample Site]]></Value>
    </sitename>
  </Properties>
</Content>