<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6cc2ec3-5972-417d-b735-518003dc5485" Alias="include me" Level="2">
  <Info>
    <Parent Key="894fc6fb-a91e-484f-927e-b9145d650482">Other</Parent>
    <Path>/Other/includeMe</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2021-12-21T08:03:06</CreateDate>
    <NodeName Default="include me" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f057acd8-fb91-4353-969f-92a53fe8f137">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[other title]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>