<?xml version="1.0" encoding="utf-8"?>
<Content Key="a63f9de1-1b12-4c99-8b97-384d5d1458c9" Alias="Knitted West" Level="3">
  <Info>
    <Parent Key="998ca97c-d115-42f5-a070-6931e4c0834f">Products</Parent>
    <Path>/Other/Products/KnittedWest</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2021-12-21T08:03:05</CreateDate>
    <NodeName Default="Knitted West" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="fb78adb8-edee-46ea-b8c8-c079c4051106">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[bingo,fashion]]></Value>
    </category>
    <description>
      <Value><![CDATA[Knitted Unicorn West]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[umb://media/1d0b713a022a49c8b842a2463c83a553]]></Value>
    </photos>
    <price>
      <Value><![CDATA[1899]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Knitted Unicorn West]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-WEST]]></Value>
    </sku>
  </Properties>
</Content>