<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8aad424-90fa-4d22-bc1d-b2fe666d573b" Alias="Matt Brailsford" Level="3">
  <Info>
    <Parent Key="e2f54117-f959-4f7a-a9c2-2dd324a74c73">People</Parent>
    <Path>/Other/People/MattBrailsford</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2021-12-21T08:03:06</CreateDate>
    <NodeName Default="Matt Brailsford" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="8f3fd972-ffd6-47aa-87b5-7feffb2a600a">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[United Kingdom,mvp]]></Value>
    </department>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[circuitbeard]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[umb://media/eee91c05b2e84031a056dcd7f28eff89]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[mattbrailsford]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>