<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fac21d1-7463-4806-a423-1ac8a0a7011a" Alias="Nested Page" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/NestedPage</Path>
    <Trashed>false</Trashed>
    <ContentType>nestedPage</ContentType>
    <CreateDate>2022-07-05T21:04:02</CreateDate>
    <NodeName Default="Nested Page" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f71bf7ef-dd46-4ebf-b61e-4b998f8278e3">NestedPage</Template>
  </Info>
  <Properties>
    <dateTime>
		<Value><![CDATA[2023-04-21T00:00:00]]></Value>
	</dateTime>
    <nested>
      <Value><![CDATA[[
  {
    "key": "45b9b489-d4d3-435d-8512-296c57c81c2a",
    "name": "Item 1",
    "ncContentTypeAlias": "nestedThing",
    "someText": "Nested 1",
    "picker": "[]",
    "dateAndTime": "2023-04-21T12:12:00",
    "repeatableTextstring": "One\r\nTwo\r\nThree"
  }
]]]></Value>
    </nested>
  </Properties>
</Content>