<?xml version="1.0" encoding="utf-8"?>
<Content Key="35cdcbc0-6cde-4079-85de-38347213a19d" Alias="Tattoo" Level="3">
  <Info>
    <Parent Key="998ca97c-d115-42f5-a070-6931e4c0834f">Products</Parent>
    <Path>/Other/Products/Tattoo</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2021-12-21T08:03:05</CreateDate>
    <NodeName Default="Tattoo" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="fb78adb8-edee-46ea-b8c8-c079c4051106">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[tattoo,dedication]]></Value>
    </category>
    <description>
      <Value><![CDATA[Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[umb://media/20e3a8ffad1b4fe9b48cb8461c46d2d0]]></Value>
    </photos>
    <price>
      <Value><![CDATA[499]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Tattoo]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-TATTOO]]></Value>
    </sku>
  </Properties>
</Content>