<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e96411a-b8e1-435f-9322-2faee30ef5f2" Alias="Unicorn" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Unicorn</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2021-10-13T09:55:05</CreateDate>
    <NodeName Default="Unicorn" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb78adb8-edee-46ea-b8c8-c079c4051106">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[animals]]></Value>
    </category>
    <description>
      <Value><![CDATA[Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <features>
      <Value><![CDATA[[
  {
    "key": "c5e6299b-1e63-43a1-8f75-02c144d99af4",
    "name": "Feature Name - Update",
    "ncContentTypeAlias": "feature",
    "featureName": "Feature Name",
    "featureDetails": "",
    "nestedFeature": "[\r\n  {\r\n    \"key\": \"0b634a2b-87e0-4605-ab9b-2e40cf0269a1\",\r\n    \"name\": \"Nested Item\",\r\n    \"ncContentTypeAlias\": \"feature\",\r\n    \"featureName\": \"Nested Item\",\r\n    \"featureDetails\": \"Nested inside\",\r\n    \"nestedFeature\": \"\",\r\n    \"repeatable\": \"Nested One\\r\\nNested Two\\r\\nNested Three\"\r\n  }\r\n]",
    "repeatable": "One\r\nTwo\r\nThree"
  }
]]]></Value>
    </features>
    <photos>
      <Value><![CDATA[umb://media/1bc5280b8658402789d958e2576e469b]]></Value>
    </photos>
    <price>
      <Value><![CDATA[249]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Unicorn]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-UNICORN]]></Value>
    </sku>
  </Properties>
</Content>