.usync-main {
    flex: 1 1 auto;
    margin-right: 20px;
    width: calc(100% - 370px);
}

.usync-sidebar {
    flex: 0 0 350px;
}


.usync-header-buttons {
    padding: 1rem 0;
}

    .usync-header-buttons > * {
        margin: 0.25rem 0;
    }

.usync-action-buttons {
    margin: 0.25rem 0
}

    .usync-action-buttons > * {
        margin-right: 0.25rem;
    }

.usync-action-message {
    font-weight: 700;
    margin: 0 0 20px;
}

ul.usync-action-list {
    display: inline-block;
    margin:0;
    padding:0;
}

    ul.usync-action-list li {
        display: inline;
        margin-right: 4px;
    }

.usync-action-message-step {
    margin: 0 0 20px;
    font-weight: 700;
}

.usync-detail-count {
    padding: 6px 0;
}

.usync-item-detail-message {
    font-weight: 700;
    border-left: 4px solid #ccc;
    padding: 5px;
}

.usync-item-details {
    border-left: 4px solid #aaa;
}

    .usync-item-details .umb-table-head .umb-table-row {
        background-color: rgba(0,0,0,0.05);
        border-bottom: 1px solid black;
    }

    .usync-item-details .umb-table {
        background-color: #f3f3f5;
    }

    .usync-item-details .usync-detail-action-cell {
        flex: 0 0 110px;
    }

    .usync-item-details .usync-old-value {
        text-decoration: line-through;
        color: #C62828;
    }

    .usync-item-details .usync-new-value {
        color: #2e7d32
    }

.usync-item-details .umb-table-cell {
    margin-top: 10px;
}

    .usync-item-details .umb-table-row {
        align-items: flex-start;
    }

.usync-row-delete {
    background-color: #ffebee;
}

.usync-row-create {
    background-color: #E8F5E9;
}

.usync-row-warn {
    background-color: #FFFDE7 !important;
}

.usync-handler-icon {
    padding: 0.75em;
    margin-right: 14px;
    transition: all .3s ease-in;
    position: relative;
}

    .usync-handler-icon i {
        font-size: 40px;
    }

    .usync-handler-icon .handler-badge {
        position: absolute;
        top: 0;
        right: 0;
    }

    .usync-handler-icon .badge.type-info {
        background-color: #fad634;
    }

    .usync-handler-icon .badge.type-complete {
        background-color: #27b171;
    }

        .usync-handler-icon .badge.type-complete.badge-error {
            background-color: #ff5722;
        }

    .usync-handler-icon .handler-badge i {
        font-size: 16px;
        color: #27b171;
    }

    .usync-handler-icon .usync-handler-name {
        font-weight: 700;
        margin-top: 0.25em;
    }

    .usync-handler-icon.enabled {
        color: #555 !important;
    }


    .usync-handler-icon.usync-pending {
        color: #eee;
    }

    .usync-handler-icon.usync-progress {
        color: #675e7a;
    }

    .usync-handler-icon.usync-complete {
        color: #1b264f;
    }
        .usync-handler-icon.usync-complete .usync-addon-icon {
            color: #7b1fa2;
        }


.usync-settings {
    display: flex;
}

    .usync-settings > div {
        width: 50%;
    }

    .usync-settings .usync-main-settings {
        margin-right: 14px;
    }

.usync-root-folder input {
    width: 100%;
}

.usync-root-folder {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

    .usync-root-folder > .controls {
        width: 100%;
        margin: auto;
    }

    .usync-root-folder > .control-label {
        width: auto;
        white-space: nowrap;
        margin-bottom: 0;
    }

.usync-not-animated {
    width: calc(100% + 1.5em);
    margin: 10px -0.75em;
    height: 3px;
    border-radius: 0px;
}

    .usync-not-animated .bar {
        background-color: #0D47A1;
        background-image: none;
    }

    .usync-not-animated.usync-complete-changes .bar {
        background-color: #27b171;
    }

    .usync-not-animated.usync-handler-errors .bar {
        background-color: #ff5722;
    }

.usync-not-animated .bar {
    transition: none;
}

.usync-boxes {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: -10px;
    margin-right: -10px;
}

.usync-box {
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.usync-box-icon {
    font-size: 40px;
}

.usync-box .umb-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .usync-box .umb-box-content > * {
        padding: 10px 0;
    }

.usync-box-nuget {
    width: 100%;
    text-align: left;
}

    .usync-box-nuget a {
        background-color: #1b264f;
        display: block;
        color: #fff;
        font-family: monospace;
        padding: 10px 10px;
        border-radius: 4px;
        margin: 10px 0;
    }

.usync-box-inprogress {
    opacity: 0.5;
}

/* umb 8.1 style things */
.umb-permission {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .umb-permission > * {
        padding-right: 10px;
    }

.umb-permission__description {
    font-style: italic;
    color: #444;
    margin-top: 2px;
}

.usync-extras {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .usync-extras > div {
        padding: 10vh 0;
        text-align: center;
        font-size: 120%;
    }

.usync-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .usync-banner h2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: 700;
        padding: 10px 0;
    }

        .usync-banner h2 > i {
            padding-right: 15px;
            font-size: 60pt;
            color: #1b264f;
        }

    .usync-banner p {
        font-size: 120%;
        margin: 20px;
        line-height: 1.5;
    }

    .usync-banner .btn {
        margin-top: 40px;
    }

.banner-icons {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 25px 0;
    font-weight: bold;
}

    .banner-icons > div {
        display: flex;
        flex-direction: column;
    }

        .banner-icons > div > i {
            display: block;
            padding: 20px;
            font-size: 35pt;
            color: rgba(0,0,0,0.5);
        }

.usync-pane-fade {
    margin: -20px;
    background: linear-gradient(#e3e3f1, #f6f4f4);
}

.usync-handler-box .umb-box-header {
    cursor: pointer;
}

.usync-detail-link-cell {
    min-width: 120px;
}

.usync-detail-link-cell .btn {
    padding: 6px;
}

.usync-main-progress {
    margin: 0 -20px -20px -20px;
}

.usync-table-message-cell {
    flex-basis: 25%;
}

.usync-alert a {
    text-decoration: underline;
}

.usync-report-no-changes {
    margin: 50px 0;
    text-align: center;
}
.usync-report-no-changes h4 {
    font-weight: 700;
}

/* diff view */
.umb-table-cell.usync-diff-value > * {
    white-space: pre-wrap;
}

.umb-table-cell.usync-diff-value pre {
    border: none;
    padding: 0;
    font-family: monospace;
    background-color: transparent;
}

    .umb-table-cell.usync-diff-value pre del {
        color: red;
    }

    .umb-table-cell.usync-diff-value pre ins {
        color: green;
    }



.usync-change-row-Fail {
    background-color: #FFEBEE;
}

.usync-change-row-Warn {
    background-color: #FFFDE7;
}

.usync-group-actions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(342px, 32.5%));
    column-gap: 15px;
}

.usync-group-box {
    text-align: center;
    z-index: 1001;
}

.usync-group-box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.usync-group-buttons {
    margin: 15px 0;
}

.usync-group-box-title i {
    font-size: 26pt;
    padding-right: 10px;
}

.usync-fresh-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.usync-fresh-view .umb-empty-state {
    color: #ddd;
}


.usync-setting-value {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #e9e9eb;
    padding-bottom: 0.5em;
}

    .usync-setting-value .umb-permission__value {
        flex-basis: 20%;
        text-align: right;
        font-weight: 700;
    }

.usync-setting-value:last-child {
    border-bottom: none;
}