<?xml version="1.0" encoding="utf-8"?>
<Media Key="17552d12-081d-4d01-b681-32c495d6576f" Alias="Banjo" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/Banjo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:04</CreateDate>
    <NodeName Default="Banjo" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cqwfkfy3/7373036290_5e8420bf36_b.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>