<?xml version="1.0" encoding="utf-8"?>
<Media Key="55514845-b8bd-487c-b370-9724852fd6bb" Alias="Biker Jacket" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/BikerJacket</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Biker Jacket" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/inefcvn3/4730684907_8a7f8759cb_b.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>