<?xml version="1.0" encoding="utf-8"?>
<Media Key="55514845-b8bd-487c-b370-9724852fd6bb" Alias="Biker Jacket" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/BikerJacket</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-26T10:43:40</CreateDate>
    <NodeName Default="Biker Jacket" />
    <SortOrder>0</SortOrder>
    <FileHash>1993981874888116020747232218226851924</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/b0adtaep/4730684907_8a7f8759cb_b.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>