<?xml version="1.0" encoding="utf-8"?>
<Media Key="b76ddb4e-e603-4014-9906-6087984740ec" Alias="Bowling Ball" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/BowlingBall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:04</CreateDate>
    <NodeName Default="Bowling Ball" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jdnh1nyd/5852022091_87c5d045ab_b.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>