<?xml version="1.0" encoding="utf-8"?>
<Media Key="b76ddb4e-e603-4014-9906-6087984740ec" Alias="Bowling Ball" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/BowlingBall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-26T10:43:41</CreateDate>
    <NodeName Default="Bowling Ball" />
    <SortOrder>0</SortOrder>
    <FileHash>79188852252231087824410411915512215355229254</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/jdnh1nyd/0c2e423a2ac57204ad93c6f8a84c19e28dc1a2d9.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>