<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cd6da33-ab9a-4196-9277-f79cc267ff3f" Alias="Computerroom" Level="2">
  <Info>
    <Parent Key="a76b7dab-c8e7-4822-97be-08944b25768d">Space Images</Parent>
    <Path>/SpaceImages/Computerroom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-04-22T12:40:59</CreateDate>
    <NodeName Default="Computerroom" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gxnnnde0/computerroom.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>