<?xml version="1.0" encoding="utf-8"?>
<Media Key="3464d78e-c1d2-4fe4-807d-402672b237a5" Alias="Design" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Design</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Design" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>