<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6f11172-373f-4473-af0f-0b0e5aefd21c" Alias="Design" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Design</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-08-26T10:43:40</CreateDate>
    <NodeName Default="Design" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>