<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee74d36f-23cf-4ac3-8541-5b292428e773" Alias="Erica Quessenberry" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">People</Parent>
    <Path>/People/EricaQuessenberry</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Erica Quessenberry" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nhjhj1wp/erica_quessenberry.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>