<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf1ab8dc-ad0f-4a8e-974b-87b84777b0d6" Alias="Jan Skovgaard" Level="2">
  <Info>
    <Parent Key="1fd2ecaf-f371-4c00-9306-867fa4585e7a">People</Parent>
    <Path>/People/JanSkovgaard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-26T10:43:41</CreateDate>
    <NodeName Default="Jan Skovgaard" />
    <SortOrder>0</SortOrder>
    <FileHash>0114175271169821511011921524547142144213252</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m5cbw5k2/18720470241_ff77768544_h.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>