<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0969cab-13ab-4de9-819a-848619ac2b5d" Alias="Jeavon Leopold" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">People</Parent>
    <Path>/People/JeavonLeopold</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Jeavon Leopold" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vwojnqfl/jeavon-leopold.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>