<?xml version="1.0" encoding="utf-8"?>
<Media Key="34371d08-92c8-4015-912e-baacd002c5d0" Alias="Jeroen Breuer" Level="2">
  <Info>
    <Parent Key="1fd2ecaf-f371-4c00-9306-867fa4585e7a">People</Parent>
    <Path>/People/JeroenBreuer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-26T10:43:42</CreateDate>
    <NodeName Default="Jeroen Breuer" />
    <SortOrder>0</SortOrder>
    <FileHash>113125113111020814813487132127531226525531</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0vkj05xm/18530280048_459b8b61b2_h.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>