<?xml version="1.0" encoding="utf-8"?>
<Media Key="46a025d6-095a-4b14-8b96-1b59ca4e951c" Alias="Jumpsuit" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/Jumpsuit</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:04</CreateDate>
    <NodeName Default="Jumpsuit" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0aslars0/7377957524_347859faac_b.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>