<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa763e0d-0ceb-408c-8720-365d57e06e32" Alias="Lee Kelleher" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">People</Parent>
    <Path>/People/LeeKelleher</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Lee Kelleher" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bm5hn4xl/lee-kelleher.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>