<?xml version="1.0" encoding="utf-8"?>
<Media Key="eee91c05-b2e8-4031-a056-dcd7f28eff89" Alias="Matt Brailsford" Level="2">
  <Info>
    <Parent Key="1fd2ecaf-f371-4c00-9306-867fa4585e7a">People</Parent>
    <Path>/People/MattBrailsford</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-26T10:43:41</CreateDate>
    <NodeName Default="Matt Brailsford" />
    <SortOrder>0</SortOrder>
    <FileHash>99122152183203931151882232468633646217237</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/advbnqz1/18531852339_981b067419_h.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>