<?xml version="1.0" encoding="utf-8"?>
<Media Key="eee91c05-b2e8-4031-a056-dcd7f28eff89" Alias="Matt Brailsford" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">People</Parent>
    <Path>/People/MattBrailsford</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Matt Brailsford" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/amoot1xi/matt-brailsford.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>