<?xml version="1.0" encoding="utf-8"?>
<Media Key="b001a4cb-5f33-4957-917d-597ca0ea05a4" Alias="People" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/People</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="People" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>