<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>