<?xml version="1.0" encoding="utf-8"?>
<Media Key="55aaae1d-bfb4-4104-9463-033142964fcf" Alias="Ravi Motha" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">People</Parent>
    <Path>/People/RaviMotha</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Ravi Motha" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/doxkuvnu/ravi-motha.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>