<?xml version="1.0" encoding="utf-8"?>
<Media Key="a76b7dab-c8e7-4822-97be-08944b25768d" Alias="Space Images" Level="1" Segments="">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SpaceImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-04-22T12:40:51</CreateDate>
    <NodeName Default="Space Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>