<?xml version="1.0" encoding="utf-8"?>
<Media Key="20e3a8ff-ad1b-4fe9-b48c-b8461c46d2d0" Alias="Tattoo" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/Tattoo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-26T10:43:40</CreateDate>
    <NodeName Default="Tattoo" />
    <SortOrder>0</SortOrder>
    <FileHash>71321841485820626111822135372179225166</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jzwhnqew/7371127652_e01b6ab56f_b.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>