<?xml version="1.0" encoding="utf-8"?>
<Media Key="662af6ca-411a-4c93-a6c7-22c4845698e7" Alias="Umbraco Campari Meeting Room" Level="2">
  <Info>
    <Parent Key="3464d78e-c1d2-4fe4-807d-402672b237a5">Design</Parent>
    <Path>/Design/UmbracoCampariMeetingRoom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:03</CreateDate>
    <NodeName Default="Umbraco Campari Meeting Room" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zt1cuzq0/16403439029_f500be349b_o.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>