<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bc5280b-8658-4027-89d9-58e2576e469b" Alias="Unicorn" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/Unicorn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-06T11:49:04</CreateDate>
    <NodeName Default="Unicorn" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/buumkg0y/14272036539_469ca21d5c_h.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>