<?xml version="1.0" encoding="utf-8"?>
<Media Key="f574cb68-b5e7-43ae-8d6c-eb5bd48de712" Alias="Apollo10rollout" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Apollo10rollout</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:14</CreateDate>
    <NodeName Default="Apollo10rollout" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/n1fhj3ph/apollo10rollout.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>