<?xml version="1.0" encoding="utf-8"?>
<Media Key="91386d46-4cad-4279-a6bc-ff8beb28f162" Alias="Controlpannel" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Controlpannel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:15</CreateDate>
    <NodeName Default="Controlpannel" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ibwdrenn/controlpannel.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>