<?xml version="1.0" encoding="utf-8"?>
<Media Key="08980860-3346-48fc-891c-2c411efc011e" Alias="Earth" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Earth</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:15</CreateDate>
    <NodeName Default="Earth" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/myejqccg/earth.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>