<?xml version="1.0" encoding="utf-8"?>
<Media Key="57844bdb-7f98-4b32-afc7-bd44cd073d0d" Alias="Galaxies" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Galaxies</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:15</CreateDate>
    <NodeName Default="Galaxies" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1vfjiv2y/galaxies.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>