<?xml version="1.0" encoding="utf-8"?>
<Media Key="965cc5ed-0a42-44be-bfcc-690cc03c5442" Alias="Moon" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Moon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:16</CreateDate>
    <NodeName Default="Moon" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3pcfzfsc/moon.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>