<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fd2ecaf-f371-4c00-9306-867fa4585e7a" Alias="People" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/People</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-10-13T09:55:07</CreateDate>
    <NodeName Default="People" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>