<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d81425e-9cd3-4e91-8ade-4e740085aa43" Alias="Redspot1" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Redspot1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:16</CreateDate>
    <NodeName Default="Redspot1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lbbicdot/redspot1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>