<?xml version="1.0" encoding="utf-8"?>
<Media Key="b561eede-9b02-4d55-bff8-02f62f23d35e" Alias="Redspot2" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Redspot2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:16</CreateDate>
    <NodeName Default="Redspot2" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1dxgdnic/redspot2.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>