<?xml version="1.0" encoding="utf-8"?>
<Media Key="fea2ec5b-bb71-4657-9a50-05530f3657ce" Alias="Rocketengines" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Rocketengines</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:16</CreateDate>
    <NodeName Default="Rocketengines" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lxwkf5tr/rocketengines.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>