<?xml version="1.0" encoding="utf-8"?>
<Media Key="c75a4fa7-d667-4fe8-ab82-f95effafb783" Alias="Saturnfive" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Saturnfive</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:17</CreateDate>
    <NodeName Default="Saturnfive" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ufhfvr1h/saturnfive.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>