<?xml version="1.0" encoding="utf-8"?>
<Media Key="fee72499-f837-413d-854a-0e1803afd5d7" Alias="Shuttlelaunch" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Shuttlelaunch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:17</CreateDate>
    <NodeName Default="Shuttlelaunch" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/t2sop5rx/shuttlelaunch.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>