<?xml version="1.0" encoding="utf-8"?>
<Media Key="44374dcf-ffeb-4dd2-96ec-c6f53640b1d2" Alias="Shuttlelanding" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Shuttlelanding</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:17</CreateDate>
    <NodeName Default="Shuttlelanding" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zfgdorhl/shuttlelanding.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>