<?xml version="1.0" encoding="utf-8"?>
<Media Key="595a6f0b-eed1-46d6-8cc2-709b45afa038" Alias="Space" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Space</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-02-16T14:54:04</CreateDate>
    <NodeName Default="Space" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>