<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2c7ee6d-f336-49a1-87f6-86c9ae11db31" Alias="Stormfromspace" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Stormfromspace</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:18</CreateDate>
    <NodeName Default="Stormfromspace" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/npxmpurw/stormfromspace.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>