<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa662764-2767-4675-8ae1-70b11c8aec17" Alias="Tickertapewelcome" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Tickertapewelcome</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:18</CreateDate>
    <NodeName Default="Tickertapewelcome" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mithnkth/tickertapewelcome.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>