<?xml version="1.0" encoding="utf-8"?>
<Media Key="21498f2a-fa6b-4310-92ef-f28992afa564" Alias="Turbineblades" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Turbineblades</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:19</CreateDate>
    <NodeName Default="Turbineblades" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fshfsill/turbineblades.jpg","focalPoint":{"left":0.83666666666666667,"top":0.31607521350570794},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>