<?xml version="1.0" encoding="utf-8"?>
<Media Key="34c1ef61-b6d5-4b55-a8db-452173ac804f" Alias="Windtunnel" Level="2">
  <Info>
    <Parent Key="595a6f0b-eed1-46d6-8cc2-709b45afa038">Space</Parent>
    <Path>/Space/Windtunnel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T14:54:19</CreateDate>
    <NodeName Default="Windtunnel" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m5xncngv/windtunnel.jpg","focalPoint":{"left":0.76833333333333331,"top":0.18125},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>