<div ng-controller="Bergmania.OpenStreetMap.Controller as vm">

    <div ng-if="vm.showSearch" class="osm-auto-search mb3">
        <umb-search-filter
            input-id="{{vm.inputId}}"
            model="vm.term"
            label-key="placeholders_search"
            text="Type to search..."
            css-class="w-100 ">
        </umb-search-filter>
    </div>

    <div data-openstreetmap="true" style="width: 100%; height: 400px;"></div>

    <div class="flex items-center mt2" ng-if="vm.showCoordinates || vm.allowClear">
        <div ng-show="model.value.marker">
            <localize key="bergmania_latitude">Latitude</localize>: {{model.value.marker.latitude}},
            <localize key="bergmania_longitude">Longitude</localize>: {{model.value.marker.longitude}}
        </div>
        <umb-button 
            ng-if="vm.allowClear"
            type="button"
            label="Clear"
            label-ley="general_clear"
            class="ml-auto"
            button-style="outline"
            disabled="!model.value.marker"
            action="vm.clearMarker()">
        </umb-button>
    </div>

</div>